<a href="https://colab.research.google.com/github/ccwu0918/esg-crawler/blob/main/DB_and_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[MySQL in Google Colab: A Seamless Integration](https://drlee.io/mysql-in-google-colab-a-seamless-integration-ab4bd47c419d)

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect('lesson.db')

In [ ]:
conn.close()

In [ ]:
with sqlite3.connect('lesson.db') as conn:
  pass

In [ ]:
import sqlite3
with sqlite3.connect("lesson.db") as conn:
  cursor = conn.cursor()

In [ ]:
cursor.execute("CREATE TABLE IF NOT EXISTS user (email text, first_name  text, last_name text, address text, age integer, PRIMARY KEY (email))")

In [ ]:
cursor.execute("INSERT INTO user VALUES ('bob@example.com', 'Bob', 'Codd', '123  Fantasy lane, Fantasy City', 31)")
cursor.execute("INSERT INTO user VALUES ('tom@web.com', 'Tom', 'Fake', '456 Fantasy lane, Fantasy City', 39)")

In [ ]:
conn.commit()

In [ ]:
import sqlite3
with sqlite3.connect("lesson.db") as conn:
  cursor = conn.cursor()
  rows = cursor.execute('SELECT * FROM user')
  for row in rows:
    print(row)

('bob@example.com', 'Bob', 'Codd', '123  Fantasy lane, Fantasy City', 31)
('tom@web.com', 'Tom', 'Fake', '456 Fantasy lane, Fantasy City', 39)

In [ ]:
import sqlite3
with sqlite3.connect("lesson.db") as conn:
  cursor = conn.cursor()
  rows = cursor.execute('SELECT * FROM user ORDER BY age DESC')
  for row in rows:
    print(row)

('tom@web.com', 'Tom', 'Fake', '456 Fantasy lane, Fantasy City', 39)
('bob@example.com', 'Bob', 'Codd', '123  Fantasy lane, Fantasy City', 31)

In [ ]:
import sqlite3
with sqlite3.connect("lesson.db") as conn:
  cursor = conn.cursor()
  rows = cursor.execute('SELECT * FROM user ORDER BY age')
  for row in rows:
    print(row)

('bob@example.com', 'Bob', 'Codd', '123  Fantasy lane, Fantasy City', 31)
('tom@web.com', 'Tom', 'Fake', '456 Fantasy lane, Fantasy City', 39)

In [ ]:
import sqlite3
with sqlite3.connect("lesson.db") as conn:
  cursor = conn.cursor()

In [ ]:
cursor.execute("ALTER TABLE user ADD COLUMN gender text")
conn.commit()

In [ ]:
cursor.execute("UPDATE user SET gender='M'")
conn.commit()

In [ ]:
with sqlite3.connect("lesson.db") as conn:
  cursor = conn.cursor()
  rows = cursor.execute('SELECT * FROM user ORDER BY age')
  for row in rows:
    print(row)

('bob@example.com', 'Bob', 'Codd', '123  Fantasy lane, Fantasy City', 31, 'M')
('tom@web.com', 'Tom', 'Fake', '456 Fantasy lane, Fantasy City', 39, 'M')

In [ ]:
# Groupby syntax:  SELECT count(*), col3 FROM <tablename> GROUP BY col3

In [ ]:
import sqlite3
with sqlite3.connect("lesson.db") as conn:
  cursor = conn.cursor()

In [ ]:
cursor.execute("INSERT INTO user VALUES ('shelly@www.com', 'Shelly','Milar','123, Ocean View Lane',39, 'F')")
conn.commit()
cursor = conn.cursor()
rows = cursor.execute('SELECT * FROM user ORDER BY age DESC')
for row in rows:
  print(row)

('tom@web.com', 'Tom', 'Fake', '456 Fantasy lane, Fantasy City', 39, 'M')
('shelly@www.com', 'Shelly', 'Milar', '123, Ocean View Lane', 39, 'F')
('bob@example.com', 'Bob', 'Codd', '123  Fantasy lane, Fantasy City', 31, 'M')

In [ ]:
rows = cursor.execute("SELECT COUNT(*), ""gender FROM user GROUP BY gender")
for row in rows:
  print(row)

(1, 'F')
(2, 'M')

In [ ]:
import sqlite3
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")
    sql = """
        CREATE TABLE comments (
            user_id text,
            comments text,
            FOREIGN KEY (user_id) REFERENCES user (email)
            ON DELETE CASCADE ON UPDATE NO ACTION
        )
    """
    cursor.execute(sql)

In [ ]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")
    sql = "INSERT INTO comments VALUES ('{}', '{}')"
    rows = cursor.execute('SELECT * FROM user ORDER BY age')
    for row in rows:
        email = row[0]
        print("Going to create rows for {}".format(email))
        name = row[1] + " " + row[2]
        for i in range(10):
            comment = "This is comment {} by {}".format(i, name)
            conn.cursor().execute(sql.format(email, comment))
    conn.commit()

Going to create rows for bob@example.com
Going to create rows for tom@web.com
Going to create rows for shelly@www.com

In [ ]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")
    sql = """
        SELECT * FROM comments
        JOIN user ON comments.user_id = user.email
        WHERE user.email='bob@example.com'
    """
    rows = cursor.execute(sql)
    for row in rows:
        print(row)

('bob@example.com', 'This is comment 0 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123  Fantasy lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment 1 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123  Fantasy lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment 2 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123  Fantasy lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment 3 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123  Fantasy lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment 4 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123  Fantasy lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment 5 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123  Fantasy lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment 6 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123  Fantasy lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment 7 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123  Fantasy lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment 8 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123  Fantasy lane, Fantasy City', 31, 'M')
('bob@example.com', 'This is comment 9 by Bob Codd', 'bob@example.com', 'Bob', 'Codd', '123  Fantasy lane, Fantasy City', 31, 'M')

In [ ]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")
    sql = """
        SELECT comments.* FROM comments
        JOIN user ON comments.user_id = user.email
        WHERE user.email='bob@example.com'
    """
    rows = cursor.execute(sql)
    for row in rows:
        print(row)

('bob@example.com', 'This is comment 0 by Bob Codd')
('bob@example.com', 'This is comment 1 by Bob Codd')
('bob@example.com', 'This is comment 2 by Bob Codd')
('bob@example.com', 'This is comment 3 by Bob Codd')
('bob@example.com', 'This is comment 4 by Bob Codd')
('bob@example.com', 'This is comment 5 by Bob Codd')
('bob@example.com', 'This is comment 6 by Bob Codd')
('bob@example.com', 'This is comment 7 by Bob Codd')
('bob@example.com', 'This is comment 8 by Bob Codd')
('bob@example.com', 'This is comment 9 by Bob Codd')

In [ ]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")
    cursor.execute("DELETE FROM user WHERE email='bob@example.com'")
    conn.commit()

In [ ]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")
    rows = cursor.execute("SELECT * FROM user")
    for row in rows:
        print(row)

('tom@web.com', 'Tom', 'Fake', '456 Fantasy lane, Fantasy City', 39, 'M')
('shelly@www.com', 'Shelly', 'Milar', '123, Ocean View Lane', 39, 'F')

In [ ]:
with sqlite3.connect("lesson.db") as conn:
    cursor = conn.cursor()
    cursor.execute("PRAGMA foreign_keys = 1")
    rows = cursor.execute("SELECT * FROM comments")
    for row in rows:
        print(row)

('tom@web.com', 'This is comment 0 by Tom Fake')
('tom@web.com', 'This is comment 1 by Tom Fake')
('tom@web.com', 'This is comment 2 by Tom Fake')
('tom@web.com', 'This is comment 3 by Tom Fake')
('tom@web.com', 'This is comment 4 by Tom Fake')
('tom@web.com', 'This is comment 5 by Tom Fake')
('tom@web.com', 'This is comment 6 by Tom Fake')
('tom@web.com', 'This is comment 7 by Tom Fake')
('tom@web.com', 'This is comment 8 by Tom Fake')
('tom@web.com', 'This is comment 9 by Tom Fake')
('shelly@www.com', 'This is comment 0 by Shelly Milar')
('shelly@www.com', 'This is comment 1 by Shelly Milar')
('shelly@www.com', 'This is comment 2 by Shelly Milar')
('shelly@www.com', 'This is comment 3 by Shelly Milar')
('shelly@www.com', 'This is comment 4 by Shelly Milar')
('shelly@www.com', 'This is comment 5 by Shelly Milar')
('shelly@www.com', 'This is comment 6 by Shelly Milar')
('shelly@www.com', 'This is comment 7 by Shelly Milar')
('shelly@www.com', 'This is comment 8 by Shelly Milar')
('shelly@www.com', 'This is comment 9 by Shelly Milar')

In [ ]:
!pip install -q mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-cp310-cp310-manylinux_2_17_x86_64.whl (21.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.5/21.5 MB 37.7 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0

In [ ]:
!apt-get -y -q install mysql-server

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl libfcgi-bin libfcgi-perl
  libfcgi0ldbl libhtml-parser-perl libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2 libprotobuf-lite23
  liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils mysql-client-8.0 mysql-client-core-8.0
  mysql-server-8.0 mysql-server-core-8.0
Suggested packages:
  libdata-dump-perl libipc-sharedcache-perl libbusiness-isbn-perl libwww-perl mailx tinyca
The following NEW packages will be installed:
  libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl libfcgi-bin libfcgi-perl
  libfcgi0ldbl libhtml-parser-perl libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2 libprotobuf-lite23
  liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils mysql-client-8.0 mysql-client-core-8.0
  mysql-server mysql-server-8.0 mysql-server-core-8.0
0 upgraded, 25 newly installed, 0 to remove and 32 not upgraded.
Need to get 29.4 MB of archives.
After this operation, 243 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-core-8.0 amd64 8.0.36-0ubuntu0.22.04.1 [2,692 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-8.0 amd64 8.0.36-0ubuntu0.22.04.1 [22.7 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 libmecab2 amd64 0.996-14build9 [199 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libprotobuf-lite23 amd64 3.12.4-1ubuntu7.22.04.1 [209 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-core-8.0 amd64 8.0.36-0ubuntu0.22.04.1 [17.5 MB]
Get:6 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-8.0 amd64 8.0.36-0ubuntu0.22.04.1 [1,437 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-tagset-perl all 3.20-4 [12.5 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy/main amd64 liburi-perl all 5.10-1 [78.8 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-parser-perl amd64 3.76-1build2 [88.4 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-pm-perl all 4.54-1 [188 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi0ldbl amd64 2.4.2-2build2 [28.0 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi-perl amd64 0.82+ds-1build1 [22.8 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-fast-perl all 1:2.15-1 [10.5 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy/main amd64 libclone-perl amd64 0.45-1build3 [11.0 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy/main amd64 libencode-locale-perl all 1.05-1.1 [11.8 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi-bin amd64 2.4.2-2build2 [11.2 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-template-perl all 2.97-1.1 [59.1 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-date-perl all 6.05-1 [9,920 B]
Get:19 http://archive.ubuntu.com/ubuntu jammy/main amd64 libio-html-perl all 1.004-2 [15.4 kB]
Get:20 http://archive.ubuntu.com/ubuntu jammy/main amd64 liblwp-mediatypes-perl all 6.04-1 [19.5 kB]
Get:21 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-message-perl all 6.36-1 [76.8 kB]
Get:22 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-utils amd64 0.996-14build9 [4,850 B]
Get:23 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic all 2.7.0-20070801+main-3 [6,718 kB]
Get:24 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic-utf8 all 2.7.0-20070801+main-3 [4,384 B]
Get:25 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server all 8.0.36-0ubuntu0.22.04.1 [9,460 B]
Fetched 29.4 MB in 4s (7,877 kB/s)
Preconfiguring packages ...
Selecting previously unselected package mysql-client-core-8.0.
(Reading database ... 121747 files and directories currently installed.)
Preparing to unpack .../00-mysql-client-core-8.0_8.0.36-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-client-core-8.0 (8.0.36-0ubuntu0.22.04.1) ...
Selecting previously unselected package mysql-client-8.0.
Preparing to unpack .../01-mysql-client-8.0_8.0.36-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-client-8.0 (8.0.36-0ubuntu0.22.04.1) ...
Selecting previously unselected package libmecab2:amd64.
Preparing to unpack .../02-libmecab2_0.996-14build9_amd64.deb ...
Unpacking libmecab2:amd64 (0.996-14build9) ...
Selecting previously unselected package libprotobuf-lite23:amd64.
Preparing to unpack .../03-libprotobuf-lite23_3.12.4-1ubuntu7.22.04.1_amd64.deb ...
Unpacking libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.1) ...
Selecting previously unselected package mysql-server-core-8.0.
Preparing to unpack .../04-mysql-server-core-8.0_8.0.36-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-server-core-8.0 (8.0.36-0ubuntu0.22.04.1) ...
Selecting previously unselected package mysql-server-8.0.
Preparing to unpack .../05-mysql-server-8.0_8.0.36-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-server-8.0 (8.0.36-0ubuntu0.22.04.1) ...
Selecting previously unselected package libhtml-tagset-perl.
Preparing to unpack .../06-libhtml-tagset-perl_3.20-4_all.deb ...
Unpacking libhtml-tagset-perl (3.20-4) ...
Selecting previously unselected package liburi-perl.
Preparing to unpack .../07-liburi-perl_5.10-1_all.deb ...
Unpacking liburi-perl (5.10-1) ...
Selecting previously unselected package libhtml-parser-perl:amd64.
Preparing to unpack .../08-libhtml-parser-perl_3.76-1build2_amd64.deb ...
Unpacking libhtml-parser-perl:amd64 (3.76-1build2) ...
Selecting previously unselected package libcgi-pm-perl.
Preparing to unpack .../09-libcgi-pm-perl_4.54-1_all.deb ...
Unpacking libcgi-pm-perl (4.54-1) ...
Selecting previously unselected package libfcgi0ldbl:amd64.
Preparing to unpack .../10-libfcgi0ldbl_2.4.2-2build2_amd64.deb ...
Unpacking libfcgi0ldbl:amd64 (2.4.2-2build2) ...
Selecting previously unselected package libfcgi-perl:amd64.
Preparing to unpack .../11-libfcgi-perl_0.82+ds-1build1_amd64.deb ...
Unpacking libfcgi-perl:amd64 (0.82+ds-1build1) ...
Selecting previously unselected package libcgi-fast-perl.
Preparing to unpack .../12-libcgi-fast-perl_1%3a2.15-1_all.deb ...
Unpacking libcgi-fast-perl (1:2.15-1) ...
Selecting previously unselected package libclone-perl.
Preparing to unpack .../13-libclone-perl_0.45-1build3_amd64.deb ...
Unpacking libclone-perl (0.45-1build3) ...
Selecting previously unselected package libencode-locale-perl.
Preparing to unpack .../14-libencode-locale-perl_1.05-1.1_all.deb ...
Unpacking libencode-locale-perl (1.05-1.1) ...
Selecting previously unselected package libfcgi-bin.
Preparing to unpack .../15-libfcgi-bin_2.4.2-2build2_amd64.deb ...
Unpacking libfcgi-bin (2.4.2-2build2) ...
Selecting previously unselected package libhtml-template-perl.
Preparing to unpack .../16-libhtml-template-perl_2.97-1.1_all.deb ...
Unpacking libhtml-template-perl (2.97-1.1) ...
Selecting previously unselected package libhttp-date-perl.
Preparing to unpack .../17-libhttp-date-perl_6.05-1_all.deb ...
Unpacking libhttp-date-perl (6.05-1) ...
Selecting previously unselected package libio-html-perl.
Preparing to unpack .../18-libio-html-perl_1.004-2_all.deb ...
Unpacking libio-html-perl (1.004-2) ...
Selecting previously unselected package liblwp-mediatypes-perl.
Preparing to unpack .../19-liblwp-mediatypes-perl_6.04-1_all.deb ...
Unpacking liblwp-mediatypes-perl (6.04-1) ...
Selecting previously unselected package libhttp-message-perl.
Preparing to unpack .../20-libhttp-message-perl_6.36-1_all.deb ...
Unpacking libhttp-message-perl (6.36-1) ...
Selecting previously unselected package mecab-utils.
Preparing to unpack .../21-mecab-utils_0.996-14build9_amd64.deb ...
Unpacking mecab-utils (0.996-14build9) ...
Selecting previously unselected package mecab-ipadic.
Preparing to unpack .../22-mecab-ipadic_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic (2.7.0-20070801+main-3) ...
Selecting previously unselected package mecab-ipadic-utf8.
Preparing to unpack .../23-mecab-ipadic-utf8_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Selecting previously unselected package mysql-server.
Preparing to unpack .../24-mysql-server_8.0.36-0ubuntu0.22.04.1_all.deb ...
Unpacking mysql-server (8.0.36-0ubuntu0.22.04.1) ...
Setting up libhttp-date-perl (6.05-1) ...
Setting up libmecab2:amd64 (0.996-14build9) ...
Setting up mysql-client-core-8.0 (8.0.36-0ubuntu0.22.04.1) ...
Setting up libfcgi0ldbl:amd64 (2.4.2-2build2) ...
Setting up libclone-perl (0.45-1build3) ...
Setting up libhtml-tagset-perl (3.20-4) ...
Setting up liblwp-mediatypes-perl (6.04-1) ...
Setting up libfcgi-bin (2.4.2-2build2) ...
Setting up libencode-locale-perl (1.05-1.1) ...
Setting up libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.1) ...
Setting up mecab-utils (0.996-14build9) ...
Setting up libio-html-perl (1.004-2) ...
Setting up mysql-server-core-8.0 (8.0.36-0ubuntu0.22.04.1) ...
Setting up mysql-client-8.0 (8.0.36-0ubuntu0.22.04.1) ...
Setting up libfcgi-perl:amd64 (0.82+ds-1build1) ...
Setting up liburi-perl (5.10-1) ...
Setting up libhttp-message-perl (6.36-1) ...
Setting up mysql-server-8.0 (8.0.36-0ubuntu0.22.04.1) ...
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of stop.
update-alternatives: using /etc/mysql/mysql.cnf to provide /etc/mysql/my.cnf (my.cnf) in auto mode
Renaming removed key_buffer and myisam-recover options (if present)
mysqld will log errors to /var/log/mysql/error.log
mysqld is running as pid 1504
Created symlink /etc/systemd/system/multi-user.target.wants/mysql.service → /lib/systemd/system/mysql.service.
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up mecab-ipadic (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic-utf8 to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up libhtml-parser-perl:amd64 (3.76-1build2) ...
Setting up mysql-server (8.0.36-0ubuntu0.22.04.1) ...
Setting up libcgi-pm-perl (4.54-1) ...
Setting up libhtml-template-perl (2.97-1.1) ...
Setting up libcgi-fast-perl (1:2.15-1) ...
Processing triggers for man-db (2.10.2-1) ...
Processing triggers for libc-bin (2.35-0ubuntu3.4) ...
/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

In [ ]:
!service mysql start

 * Starting MySQL database server mysqld
su: warning: cannot change directory to /nonexistent: No such file or directory
   ...done.

In [ ]:
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH 'mysql_native_password' BY 'root';FLUSH PRIVILEGES;"

In [ ]:
import mysql.connector

# Create a connection to the MySQL server
conn = mysql.connector.connect(user='root', password='root', host='localhost')

# Create a cursor to interact with the MySQL server
cursor = conn.cursor()

# Create a new database named 'library'
cursor.execute("CREATE DATABASE IF NOT EXISTS library")

# Switch to the 'library' database
cursor.execute("USE library")

# Create the 'books' table
cursor.execute('''
CREATE TABLE IF NOT EXISTS books (
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(255) NOT NULL,
    author VARCHAR(255) NOT NULL,
    year_published INT
)
''')

# Always remember to close the cursor and connection when done
cursor.close()
conn.close()

In [ ]:
import mysql.connector

# Connect to the MySQL server and the 'library' database
conn = mysql.connector.connect(user='root', password='root', host='localhost', database='library')
cursor = conn.cursor()

books_data = [
    ("To Kill a Mockingbird", "Harper Lee", 1960),
    ("1984", "George Orwell", 1949),
    ("The Great Gatsby", "F. Scott Fitzgerald", 1925)
]

# Insert data using the cursor
cursor.executemany('''
INSERT INTO books (title, author, year_published) VALUES (%s, %s, %s)
''', books_data)

# Commit the changes
conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()

In [ ]:
import mysql.connector

# Connect to the MySQL server and the 'library' database
conn = mysql.connector.connect(user='root', password='root', host='localhost', database='library')
cursor = conn.cursor()

# Execute the SELECT query
cursor.execute("SELECT * FROM books")

# Fetch all the results
records = cursor.fetchall()

# Print the records
for record in records:
    print(record)

# Close the cursor and connection
cursor.close()
conn.close()

(1, 'To Kill a Mockingbird', 'Harper Lee', 1960)
(2, '1984', 'George Orwell', 1949)
(3, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925)

In [ ]:
import mysql.connector

# Connect to the MySQL server and the 'library' database
conn = mysql.connector.connect(user='root', password='root', host='localhost', database='library')
cursor = conn.cursor()
cursor.execute("SELECT * FROM books WHERE year_published < 1950")
classics = cursor.fetchall()


for book in classics:
    print(book)

(2, '1984', 'George Orwell', 1949)
(3, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925)

In [ ]:
cursor.close()
conn.close()

In [ ]:
import pandas as pd

# Connect to MySQL
conn = mysql.connector.connect(user='root', password='root', host='localhost', database='library')

# Fetch data into a pandas DataFrame
query = "SELECT * FROM books"
df = pd.read_sql(query, conn)

<ipython-input-36-932dda814cd3>:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [ ]:
df.head()

   id                  title               author  year_published
0   1  To Kill a Mockingbird           Harper Lee            1960
1   2                   1984        George Orwell            1949
2   3       The Great Gatsby  F. Scott Fitzgerald            1925

In [ ]:
!mysqldump -u root -proot library > library.sql

mysqldump: [Warning] Using a password on the command line interface can be insecure.

In [ ]:
!ls -althr

total 36K
drwxr-xr-x 4 root root 4.0K Feb  5 20:33 .config
drwxr-xr-x 1 root root 4.0K Feb  5 20:33 sample_data
drwxr-xr-x 1 root root 4.0K Feb  7 15:57 ..
-rw-r--r-- 1 root root  16K Feb  7 16:00 lesson.db
drwxr-xr-x 1 root root 4.0K Feb  7 16:01 .
-rw-r--r-- 1 root root 2.1K Feb  7 16:01 library.sql



---

In [ ]:
import sqlite3
with sqlite3.connect("hospital.db") as conn:
  cursor = conn.cursor()

In [ ]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS `hospital_data` (
  `HospitalName` text,
  `ProviderNo` int DEFAULT '0',
  `State` text ,
  `Period` text ,
  `ClaimType` text ,
  `HospitalAvgSpend` double DEFAULT '0',
  `StateAvgSpend` double DEFAULT '0',
  `NationalAvgSpend` double DEFAULT '0',
  `HospitalSpendingPercentage` double DEFAULT '0',
  `StateSpendingPercentage` double DEFAULT '0',
  `NationalSpendPercentage` double DEFAULT '0',
  `StartDate` date DEFAULT NULL,
  `EndDate` date DEFAULT NULL)
"""
)

In [ ]:
cursor.execute("INSERT INTO `hospital_data` VALUES ('FALMOUTH HOSPITAL',220135,'MA','1 through 30 days After Discharge from Index Hospital Admission','Hospice',104,88,122,0.0052,0.0043,0.006,'2021-08-13','2022-07-26'),('PALMS WEST HOSPITAL',100269,'FL','1 through 30 days After Discharge from Index Hospital Admission','Skilled Nursing Facility',3235,3534,3319,0.1676,0.1707,0.1619,'2022-03-03','2022-09-18'),('BAYLOR ORTHOPEDIC AND SPINE HOSPITAL AT ARLINGTON',670067,'TX','During Index Hospital Admission','Home Health Agency',0,0,0,0,0,0,'2023-03-24','2023-07-28'),('ST MARYS HOSPITAL ( TROY )',330232,'NY','1 to 3 days Prior to Index Hospital Admission','Outpatient',33,83,124,0.0022,0.0041,0.0061,'2022-12-27','2023-08-05'),('MARTIN LUTHER KING JR. COMMUNITY HOSPITAL',50779,'CA','1 to 3 days Prior to Index Hospital Admission','Home Health Agency',0,13,14,0,0.0006,0.0007,'2021-01-29','2021-05-19'),('KEARNEY REGIONAL MEDICAL CENTER',280134,'NE','1 to 3 days Prior to Index Hospital Admission','Outpatient',531,255,124,0.0241,0.0122,0.0061,'2022-02-11','2023-01-08'),('FRANKLIN WOODS COMMUNITY HOSPITAL',440184,'TN','1 through 30 days After Discharge from Index Hospital Admission','Inpatient',2158,2773,2702,0.1411,0.1345,0.1318,'2023-01-29','2023-10-25'),('OPELOUSAS GENERAL HEALTH SYSTEM',190017,'LA','1 to 3 days Prior to Index Hospital Admission','Hospice',3,1,1,0.0001,0,0,'2022-05-03','2022-12-08'),('CAROLINAS HEALTH CARE SYSTEM ANSON',340084,'NC','1 through 30 days After Discharge from Index Hospital Admission','Inpatient',1185,2229,2702,0.0915,0.1128,0.1318,'2022-05-07','2022-10-21'),('DELAWARE COUNTY MEMORIAL HOSPITAL',390081,'PA','1 through 30 days After Discharge from Index Hospital Admission','Outpatient',810,725,730,0.0375,0.0351,0.0356,'2021-05-08','2022-01-25'),('SACRED HEART HOSPITAL',520013,'WI','1 to 3 days Prior to Index Hospital Admission','Carrier',484,490,552,0.0245,0.025,0.0269,'2023-09-04','2023-09-06'),('BAYLOR SCOTT & WHITE MEDICAL CENTER GRAPEVINE',450563,'TX','During Index Hospital Admission','Home Health Agency',0,0,0,0,0,0,'2019-06-27','2019-08-15'),('EVANS MEMORIAL HOSPITAL',110142,'GA','1 through 30 days After Discharge from Index Hospital Admission','Home Health Agency',860,818,816,0.0646,0.041,0.0398,'2019-08-22','2019-10-24'),('FLORIDA HOSPITAL NORTH PINELLAS',100055,'FL','1 to 3 days Prior to Index Hospital Admission','Home Health Agency',12,21,14,0.0006,0.001,0.0007,'2021-09-07','2022-03-11'),('ST VINCENT HOT SPRINGS',40026,'AR','1 to 3 days Prior to Index Hospital Admission','Carrier',621,539,552,0.0319,0.0273,0.0269,'2022-02-28','2023-01-31'),('SPARROW CARSON HOSPITAL',230208,'MI','During Index Hospital Admission','Inpatient',8533,9097,9324,0.4834,0.4551,0.4549,'2019-11-30','2019-12-16'),('CLARENDON MEMORIAL HOSPITAL',420069,'SC','During Index Hospital Admission','Home Health Agency',0,0,0,0,0,0,'2019-11-23','2020-08-02'),('UNITED MEMORIAL MEDICAL CENTER',330073,'NY','During Index Hospital Admission','Hospice',0,0,0,0,0,0,'2022-01-08','2022-03-22'),('FRESNO SURGICAL HOSPITAL',50708,'CA','1 to 3 days Prior to Index Hospital Admission','Skilled Nursing Facility',0,3,2,0,0.0001,0.0001,'2023-03-15','2023-03-21'),('STATEN ISLAND UNIVERSITY HOSPITAL',330160,'NY','1 to 3 days Prior to Index Hospital Admission','Inpatient',1,4,5,0,0.0002,0.0003,'2022-05-27','2022-11-06'),('HIGHLANDS REGIONAL MEDICAL CENTER',180005,'KY','1 through 30 days After Discharge from Index Hospital Admission','Inpatient',1895,2638,2702,0.1266,0.1348,0.1318,'2022-02-10','2022-04-12'),('NORTHEAST GEORGIA MEDICAL CENTER INC',110029,'GA','1 to 3 days Prior to Index Hospital Admission','Outpatient',128,111,124,0.0065,0.0056,0.0061,'2020-07-13','2021-06-05'),('EL CAMINO HOSPITAL',50308,'CA','1 to 3 days Prior to Index Hospital Admission','Skilled Nursing Facility',2,3,2,0.0001,0.0001,0.0001,'2021-10-26','2022-10-07'),('JERSEY SHORE UNIVERSITY MEDICAL CENTER',310073,'NJ','Complete Episode','Total',23842,21733,20497,1,1,1,'2021-04-24','2021-09-13'),('CLEAR LAKE REGIONAL MEDICAL CENTER',450617,'TX','1 to 3 days Prior to Index Hospital Admission','Inpatient',6,5,5,0.0003,0.0002,0.0003,'2019-10-15','2019-10-19'),('MEDSTAR WASHINGTON HOSPITAL CENTER',90011,'DC','1 through 30 days After Discharge from Index Hospital Admission','Skilled Nursing Facility',3213,3088,3319,0.1297,0.147,0.1619,'2019-09-22','2019-12-19'),('CITRUS MEMORIAL HOSPITAL',100023,'FL','During Index Hospital Admission','Inpatient',8228,8871,9324,0.4351,0.4285,0.4549,'2023-09-19','2023-11-03'),('UNION HOSPITAL',360010,'OH','During Index Hospital Admission','Outpatient',0,0,0,0,0,0,'2022-06-16','2023-04-19'),('ST JOSEPH HOSPITAL',200001,'ME','1 through 30 days After Discharge from Index Hospital Admission','Inpatient',1363,2184,2702,0.077,0.1132,0.1318,'2021-11-25','2022-06-01'),('EDWARD HOSPITAL',140231,'IL','1 through 30 days After Discharge from Index Hospital Admission','Home Health Agency',1087,791,816,0.0507,0.0383,0.0398,'2020-02-05','2020-07-15'),('RAPPAHANNOCK GENERAL HOSPITAL',490123,'VA','1 through 30 days After Discharge from Index Hospital Admission','Carrier',788,1059,1110,0.0523,0.0537,0.0542,'2020-12-02','2021-07-25'),('NORWEGIAN-AMERICAN HOSPITAL',140206,'IL','1 through 30 days After Discharge from Index Hospital Admission','Outpatient',720,788,730,0.0406,0.0381,0.0356,'2020-03-03','2020-06-17'),('BAYFRONT HEALTH DADE CITY',100211,'FL','Complete Episode','Total',20124,20704,20497,1,1,1,'2019-05-19','2019-06-15'),('INTEGRIS BASS BAPTIST HEALTH CENTER',370016,'OK','During Index Hospital Admission','Durable Medical Equipment',30,40,24,0.0016,0.002,0.0012,'2020-07-24','2021-03-10'),('JOHNSON MEMORIAL HOSPITAL',150001,'IN','During Index Hospital Admission','Inpatient',7351,9350,9324,0.3735,0.4515,0.4549,'2021-02-22','2021-07-29'),('NORTHFIELD HOSPITAL',240014,'MN','1 through 30 days After Discharge from Index Hospital Admission','Hospice',55,110,122,0.0042,0.0055,0.006,'2021-12-25','2022-06-26'),('KAISER FOUNDATION HOSPITAL',120011,'HI','During Index Hospital Admission','Durable Medical Equipment',8,14,24,0.0005,0.0007,0.0012,'2020-01-24','2020-02-23'),('BAYLOR SCOTT AND WHITE SURGICAL HOSPITAL AT SHERMA',670076,'TX','1 through 30 days After Discharge from Index Hospital Admission','Durable Medical Equipment',63,114,103,0.0028,0.0051,0.005,'2022-10-21','2023-06-14'),('MT GRAHAM REGIONAL MEDICAL CENTER',30068,'AZ','1 through 30 days After Discharge from Index Hospital Admission','Inpatient',1184,2785,2702,0.075,0.1356,0.1318,'2023-07-22','2023-12-06'),('UMASS MEMORIAL HEALTHCARE-CLINTON HOSPITAL',220058,'MA','1 through 30 days After Discharge from Index Hospital Admission','Inpatient',1611,2670,2702,0.1057,0.1325,0.1318,'2021-03-30','2021-12-31'),('SAINT JOSEPH HOSPITAL',60028,'CO','1 to 3 days Prior to Index Hospital Admission','Skilled Nursing Facility',0,2,2,0,0.0001,0.0001,'2023-06-12','2023-10-10'),('CONCORD HOSPITAL',300001,'NH','During Index Hospital Admission','Hospice',0,0,0,0,0,0,'2021-01-27','2021-08-20'),('VCU MEDICAL CENTER / VCU HEALTH SYSTEM',490032,'VA','1 to 3 days Prior to Index Hospital Admission','Outpatient',192,95,124,0.0081,0.0048,0.0061,'2020-04-23','2021-04-15'),('BAY AREA REGIONAL MEDICAL CENTER LLC',670096,'TX','During Index Hospital Admission','Hospice',0,0,0,0,0,0,'2022-04-10','2023-01-20'),('WOMENS HOSPITAL THE',150149,'IN','1 through 30 days After Discharge from Index Hospital Admission','Home Health Agency',431,558,816,0.0376,0.0269,0.0398,'2019-07-02','2020-02-15'),('MAINE MEDICAL CENTER',200009,'ME','1 through 30 days After Discharge from Index Hospital Admission','Home Health Agency',1030,901,816,0.0452,0.0467,0.0398,'2021-05-01','2021-06-19'),('ST JOSEPH MEDICAL CENTER',390096,'PA','1 through 30 days After Discharge from Index Hospital Admission','Home Health Agency',859,889,816,0.0417,0.043,0.0398,'2020-09-20','2020-11-21'),('ZUNI COMPREHENSIVE COMMUNITY HEALTH CENTER',320060,'NM','1 through 30 days After Discharge from Index Hospital Admission','Inpatient',2145,2608,2702,0.179,0.1372,0.1318,'2020-04-15','2021-02-11'),('VAN WERT COUNTY HOSPITAL',360071,'OH','1 to 3 days Prior to Index Hospital Admission','Home Health Agency',16,12,14,0.0009,0.0006,0.0007,'2021-11-25','2022-01-12'),('TUBA CITY REGIONAL HEALTH CARE CORPORATION',30073,'AZ','1 to 3 days Prior to Index Hospital Admission','Durable Medical Equipment',3,7,9,0.0002,0.0003,0.0004,'2020-08-10','2020-11-15'),('SEQUOIA HOSPITAL',50197,'CA','During Index Hospital Admission','Inpatient',12000,9665,9324,0.5482,0.4571,0.4549,'2021-06-07','2021-08-31'),('PLANTATION GENERAL HOSPITAL',100167,'FL','During Index Hospital Admission','Inpatient',7907,8871,9324,0.393,0.4285,0.4549,'2023-09-15','2023-12-22'),('WINDHAM COMMUNITY MEMORIAL HOSPITAL',70021,'CT','During Index Hospital Admission','Hospice',0,0,0,0,0,0,'2022-06-21','2022-12-01'),('KNOX COUNTY HOSPITAL',450746,'TX','Complete Episode','Total',16089,22110,20497,1,1,1,'2023-02-17','2023-12-17'),('HOLLYWOOD PRESBYTERIAN MEDICAL CENTER',50063,'CA','1 to 3 days Prior to Index Hospital Admission','Carrier',543,558,552,0.0232,0.0264,0.0269,'2022-03-26','2022-10-03'),('MERCY HOSPITAL AND MEDICAL CENTER',140158,'IL','1 through 30 days After Discharge from Index Hospital Admission','Inpatient',3612,2601,2702,0.1875,0.1258,0.1318,'2019-06-13','2020-06-09'),('SAMARITAN HOSPITAL',330180,'NY','During Index Hospital Admission','Hospice',0,0,0,0,0,0,'2020-03-01','2020-05-28'),('ST CHARLES PARISH HOSPITAL',190079,'LA','1 through 30 days After Discharge from Index Hospital Admission','Skilled Nursing Facility',2821,2423,3319,0.1692,0.1148,0.1619,'2021-07-13','2022-02-14'),('WESTSIDE REGIONAL MEDICAL CENTER',100228,'FL','1 through 30 days After Discharge from Index Hospital Admission','Carrier',1537,1339,1110,0.0746,0.0647,0.0542,'2021-10-11','2022-01-20'),('CHRISTUS SPOHN HOSPITAL CORPUS CHRISTI',450046,'TX','1 through 30 days After Discharge from Index Hospital Admission','Outpatient',936,732,730,0.0397,0.0331,0.0356,'2019-01-13','2019-12-05'),('ST DAVIDS SOUTH AUSTIN MEDICAL CENTER',450713,'TX','1 through 30 days After Discharge from Index Hospital Admission','Durable Medical Equipment',90,114,103,0.0043,0.0051,0.005,'2022-06-23','2023-05-19'),('PROVIDENCE HEALTH CENTER',450042,'TX','1 to 3 days Prior to Index Hospital Admission','Inpatient',5,5,5,0.0003,0.0002,0.0003,'2021-11-14','2022-06-11'),('NYACK HOSPITAL',330104,'NY','1 to 3 days Prior to Index Hospital Admission','Carrier',633,498,552,0.0288,0.0245,0.0269,'2021-05-17','2022-04-22'),('NIX HEALTH CARE SYSTEM',450130,'TX','1 through 30 days After Discharge from Index Hospital Admission','Hospice',159,150,122,0.0075,0.0068,0.006,'2021-07-20','2021-11-05'),('IROQUOIS MEMORIAL HOSPITAL',140167,'IL','During Index Hospital Admission','Durable Medical Equipment',27,20,24,0.0015,0.001,0.0012,'2022-11-26','2023-05-30'),('GEORGETOWN COMMUNITY HOSPITAL',180101,'KY','1 to 3 days Prior to Index Hospital Admission','Skilled Nursing Facility',0,2,2,0,0.0001,0.0001,'2021-01-17','2021-01-25'),('PHOEBE PUTNEY MEMORIAL HOSPITAL',110007,'GA','During Index Hospital Admission','Outpatient',0,0,0,0,0,0,'2023-04-28','2023-10-29'),('FAITH REGIONAL HEALTH SERVICES',280125,'NE','1 through 30 days After Discharge from Index Hospital Admission','Inpatient',1908,2102,2702,0.0848,0.1003,0.1318,'2020-02-29','2020-09-25'),('PINNACLE HEALTH HOSPITALS',390067,'PA','1 to 3 days Prior to Index Hospital Admission','Durable Medical Equipment',13,8,9,0.0006,0.0004,0.0004,'2021-09-23','2022-03-11'),('ST VINCENTS MEDICAL CENTER RIVERSIDE',100040,'FL','1 through 30 days After Discharge from Index Hospital Admission','Hospice',144,165,122,0.0066,0.008,0.006,'2022-06-09','2022-07-20'),('MARQUETTE GENERAL HOSPITAL',230054,'MI','1 to 3 days Prior to Index Hospital Admission','Durable Medical Equipment',13,10,9,0.0006,0.0005,0.0004,'2022-07-23','2023-01-01'),('EDEN MEDICAL CENTER',50488,'CA','1 through 30 days After Discharge from Index Hospital Admission','Outpatient',670,671,730,0.028,0.0318,0.0356,'2022-07-14','2022-10-24'),('WILLIAM P. CLEMENTS JR. UNIVERSITY HOSPITAL',450044,'TX','During Index Hospital Admission','Skilled Nursing Facility',0,0,0,0,0,0,'2021-07-26','2021-11-27'),('MARTIN GENERAL HOSPITAL',340133,'NC','1 to 3 days Prior to Index Hospital Admission','Outpatient',35,153,124,0.0023,0.0077,0.0061,'2022-08-26','2023-07-16'),('COVENANT HEALTHCARE',230070,'MI','1 through 30 days After Discharge from Index Hospital Admission','Outpatient',769,737,730,0.0369,0.0369,0.0356,'2019-04-11','2019-07-06'),('ST VINCENTS ST CLAIR',10130,'AL','1 to 3 days Prior to Index Hospital Admission','Hospice',0,1,1,0,0.0001,0,'2022-10-08','2023-01-26'),('HILL COUNTRY MEMORIAL HOSPITAL INC',450604,'TX','1 through 30 days After Discharge from Index Hospital Admission','Skilled Nursing Facility',3658,3010,3319,0.1925,0.1361,0.1619,'2022-03-29','2022-06-20'),('SAN JUAN REGIONAL MEDICAL CENTER',320005,'NM','During Index Hospital Admission','Hospice',0,0,0,0,0,0,'2021-12-30','2022-09-26'),('UPMC NORTHWEST',390091,'PA','During Index Hospital Admission','Hospice',0,0,0,0,0,0,'2021-06-22','2021-07-20'),('BANNER CASA GRANDE MEDICAL CENTER',30016,'AZ','1 through 30 days After Discharge from Index Hospital Admission','Skilled Nursing Facility',1914,2196,3319,0.1097,0.1069,0.1619,'2023-12-01','2023-12-06'),('DELANO REGIONAL MEDICAL CENTER',50608,'CA','1 to 3 days Prior to Index Hospital Admission','Hospice',0,0,1,0,0,0,'2020-06-17','2021-01-04'),('WINDBER HOSPITAL',390112,'PA','1 through 30 days After Discharge from Index Hospital Admission','Carrier',699,1106,1110,0.0425,0.0535,0.0542,'2022-04-19','2022-12-19'),('BECKLEY ARH HOSPITAL',510062,'WV','During Index Hospital Admission','Durable Medical Equipment',44,37,24,0.0023,0.0019,0.0012,'2021-05-23','2022-01-09'),('FAIRBANKS MEMORIAL HOSPITAL',20012,'AK','1 through 30 days After Discharge from Index Hospital Admission','Carrier',647,863,1110,0.0434,0.0433,0.0542,'2023-06-25','2023-10-09'),('ST LUKES REGIONAL MEDICAL CENTER',160146,'IA','During Index Hospital Admission','Outpatient',0,0,0,0,0,0,'2022-10-16','2022-12-10'),('MEMORIAL MEDICAL CENTER OF EAST TEXAS',450211,'TX','1 through 30 days After Discharge from Index Hospital Admission','Hospice',228,150,122,0.0106,0.0068,0.006,'2022-01-14','2022-04-10'),('LEESBURG REGIONAL MEDICAL CENTER',100084,'FL','During Index Hospital Admission','Inpatient',9489,8871,9324,0.4586,0.4285,0.4549,'2019-06-21','2019-08-03'),('CAMBRIDGE MEDICAL CENTER',240020,'MN','1 to 3 days Prior to Index Hospital Admission','Durable Medical Equipment',7,10,9,0.0005,0.0005,0.0004,'2023-03-20','2023-11-21'),('VIERA HOSPITAL',100315,'FL','During Index Hospital Admission','Hospice',0,0,0,0,0,0,'2023-06-24','2023-07-05'),('BAYLOR SCOTT & WHITE MEDICAL CENTER - BRENHAM',450187,'TX','During Index Hospital Admission','Home Health Agency',0,0,0,0,0,0,'2023-12-19','2023-12-28'),('ANDERSON REGIONAL MEDICAL CTR',250104,'MS','During Index Hospital Admission','Outpatient',0,0,0,0,0,0,'2020-06-16','2021-03-12'),('ADVOCATE LUTHERAN GENERAL HOSPITAL',140223,'IL','1 through 30 days After Discharge from Index Hospital Admission','Inpatient',2759,2601,2702,0.1211,0.1258,0.1318,'2021-07-13','2021-12-31'),('SAINT FRANCIS BARTLETT MEDICAL CENTER',440228,'TN','1 to 3 days Prior to Index Hospital Admission','Outpatient',53,141,124,0.0026,0.0068,0.0061,'2022-02-16','2022-06-28'),('ST JAMES MERCY HOSPITAL',330151,'NY','During Index Hospital Admission','Outpatient',0,0,0,0,0,0,'2020-03-31','2020-05-31'),('MEMORIAL HEALTHCARE SYSTEM INC',440091,'TN','1 to 3 days Prior to Index Hospital Admission','Carrier',474,647,552,0.0226,0.0314,0.0269,'2021-07-04','2021-09-30'),('NORTH MEMORIAL MEDICAL CENTER',240001,'MN','1 to 3 days Prior to Index Hospital Admission','Carrier',389,489,552,0.0186,0.0244,0.0269,'2019-03-08','2019-03-21'),('HURLEY MEDICAL CENTER',230132,'MI','1 to 3 days Prior to Index Hospital Admission','Home Health Agency',12,14,14,0.0006,0.0007,0.0007,'2019-02-09','2019-05-10'),('VAN WERT COUNTY HOSPITAL',360071,'OH','1 to 3 days Prior to Index Hospital Admission','Durable Medical Equipment',4,9,9,0.0002,0.0004,0.0004,'2023-04-30','2023-10-14'),('LANCASTER GENERAL HOSPITAL',390100,'PA','1 to 3 days Prior to Index Hospital Admission','Durable Medical Equipment',6,8,9,0.0003,0.0004,0.0004,'2023-01-26','2023-10-27'),('TAMPA COMMUNITY HOSPITAL',100255,'FL','During Index Hospital Admission','Inpatient',8068,8871,9324,0.4248,0.4285,0.4549,'2020-09-04','2020-10-18');")

In [ ]:
conn.commit()

In [ ]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS `patient_data` (
  `HospitalID` int DEFAULT NULL,
  `PatientID` int NOT NULL,
  `InvoiceAmount` double DEFAULT NULL,
  `Age` int DEFAULT NULL,
  `Smoker` int DEFAULT NULL,
  `BMI` int DEFAULT NULL,
  `DrugsAlc` int DEFAULT NULL,
  `Employed` int DEFAULT NULL,
  `Diabetic` int DEFAULT NULL,
  `Pregnant` int DEFAULT NULL,
  `PreCondition` int DEFAULT NULL,
  `Feedback` int DEFAULT NULL,
  `HomeState` text,
  PRIMARY KEY (`PatientID`),
  CONSTRAINT `patient_data_chk_1` CHECK ((`Smoker` in (0,1))),
  CONSTRAINT `patient_data_chk_2` CHECK ((`DrugsAlc` in (0,1))),
  CONSTRAINT `patient_data_chk_3` CHECK ((`Employed` in (0,1))),
  CONSTRAINT `patient_data_chk_4` CHECK ((`Diabetic` in (0,1))),
  CONSTRAINT `patient_data_chk_5` CHECK ((`Pregnant` in (0,1))),
  CONSTRAINT `patient_data_chk_6` CHECK ((`PreCondition` in (0,1))),
  CONSTRAINT `patient_data_chk_7` CHECK ((`Feedback` in (-(1),0,1)))
)
"""
)

In [ ]:
cursor.execute("INSERT INTO `patient_data` VALUES (220135,105947,101.383048333209,31,0,28,0,1,1,0,0,-1,'ME'),(510062,111365,43.3121368927957,28,1,30,1,0,1,0,0,1,'WV'),(330151,143384,0,33,1,20,1,0,0,0,0,0,'NY'),(150149,149265,428.536207517161,59,1,34,0,0,1,0,0,0,'NM'),(240014,158168,55.4445204743628,30,1,32,1,0,1,1,1,-1,'MN'),(180101,171874,0,31,0,36,0,0,0,0,1,0,'KY'),(110007,192429,0,47,1,28,1,0,0,0,0,1,'GA'),(140158,205573,3476.89696552718,30,1,38,1,0,1,0,1,1,'IL'),(450042,226054,4.90548309119573,25,0,26,1,1,1,1,1,1,'TX'),(30073,239824,3.10470802694607,61,0,26,0,1,0,0,0,0,'OH'),(450746,240304,16365.4498802826,65,0,21,0,1,1,0,0,0,'TX'),(280134,264443,511.9453748616,74,0,36,1,0,0,0,1,-1,'NM'),(520013,273557,495.031560459881,37,1,29,0,1,1,0,1,0,'WI'),(140206,277680,738.053011029385,46,1,34,0,0,0,0,1,1,'CO'),(100040,282001,150.516954564251,21,0,37,0,1,0,0,0,0,'FL'),(450604,300701,3648.01637773132,58,0,37,0,1,1,0,0,-1,'TX'),(440091,305385,466.760339022974,33,0,19,1,0,1,0,1,1,'TN'),(250104,315727,0,70,1,35,0,0,1,0,1,-1,'MO'),(320060,316769,2092.51286308322,20,1,25,0,1,0,1,0,1,'NM'),(440184,329878,2131.04065814843,53,1,18,0,0,0,0,0,1,'IA'),(100228,338591,1560.08572227569,23,1,19,0,0,0,0,0,0,'FL'),(100055,340307,11.7706767282083,24,0,25,0,0,0,0,0,0,'FL'),(50063,343117,529.682034136643,30,1,27,0,1,1,0,1,0,'CA'),(150001,348271,7259.52604773933,31,0,33,0,0,0,0,0,0,'IN'),(360010,360437,0,39,0,21,0,0,1,0,0,0,'OH'),(60028,381474,0,53,1,29,0,1,0,0,1,0,'NH'),(230132,400749,11.9091465092866,72,0,33,1,0,1,0,1,1,'MI'),(50488,400882,665.022455860342,29,1,39,0,1,1,1,1,-1,'MN'),(370016,400976,28.7889715759114,27,1,39,0,0,0,1,0,1,NULL),(240001,429269,399.079480922848,17,0,32,1,0,0,0,1,1,'PA'),(200009,445562,1060.74948712044,25,1,36,0,0,0,0,0,0,'AZ'),(50197,446224,11439.4696734318,42,0,28,0,0,1,0,1,0,'TX'),(420069,449142,0,45,0,19,1,0,1,0,0,0,'MO'),(450046,453750,973.395111064596,15,1,39,0,0,0,1,1,-1,'ND'),(20012,460986,657.865704840439,24,0,23,0,0,1,1,1,0,'AR'),(230208,461973,8848.32351330798,73,1,38,1,0,0,0,1,0,'AL'),(340133,486028,34.4408549900072,50,1,20,0,1,1,0,1,0,'MN'),(450187,487220,0,57,1,20,0,0,0,0,1,0,'TX'),(390112,500078,669.17745171113,40,1,36,1,0,0,0,1,-1,'PA'),(100167,523872,7928.29226506731,37,0,28,0,1,1,0,1,0,'FL'),(440228,525501,52.8388648218745,72,1,25,0,0,0,0,0,1,NULL),(30016,528474,1873.24013148755,20,1,39,0,0,0,0,1,0,'AZ'),(280125,539839,1930.78403021076,38,0,28,1,1,0,0,1,0,'IA'),(320005,545027,0,29,1,36,1,0,1,0,0,0,NULL),(360071,546165,16.5546517363299,42,1,25,0,1,0,0,1,1,'OH'),(160146,555779,0,28,0,26,0,1,0,1,1,-1,'IN'),(120011,570986,8.29685765343457,18,0,37,0,0,0,0,0,-1,'CA'),(670096,572066,0,16,1,37,1,1,1,1,1,0,'TX'),(360071,579077,3.98912353035599,42,1,39,0,0,0,0,0,-1,'WV'),(100084,586546,9483.88124485053,65,0,36,1,0,1,0,1,0,'IL'),(50608,593385,0,31,1,39,0,0,1,0,1,-1,'CA'),(330073,595320,0,24,1,21,1,0,0,0,1,1,'NY'),(140167,597200,26.950353657226,50,1,25,1,0,0,0,1,-1,'RI'),(310073,616733,23289.453519844,53,0,21,1,1,0,0,1,0,'NJ'),(100023,626098,8040.01571818363,59,1,18,1,0,0,0,0,1,'FL'),(390100,653210,6.21728183511756,36,1,28,1,0,0,0,1,1,'NY'),(140223,656217,2684.59854737459,26,0,27,1,0,0,0,0,-1,'IL'),(70021,665711,0,28,1,19,0,1,1,1,1,0,'CT'),(450211,672448,231.656437864297,31,1,18,0,1,1,0,0,0,'TX'),(100315,701396,0,55,1,19,0,1,1,0,1,-1,'FL'),(200001,705701,1429.29473058177,65,1,31,1,0,0,0,0,1,'ME'),(190079,706565,2824.65688038721,66,0,26,1,0,0,0,1,-1,'TX'),(390096,707455,898.135263369119,32,0,21,0,0,0,0,1,-1,'LA'),(450563,707864,0,35,0,19,1,0,0,1,0,1,'DE'),(390081,723724,800.640723062437,72,1,39,1,0,1,0,0,0,'OK'),(330180,724951,0,39,1,25,1,0,1,0,1,1,'NM'),(230054,726139,13.5011705674649,67,0,39,1,0,1,0,1,0,'MA'),(450044,726749,0,19,0,32,0,0,1,1,0,0,'NC'),(40026,733140,616.54668712512,68,1,20,0,1,1,0,0,1,'ME'),(110029,740403,130.121494121567,16,1,26,1,0,0,0,0,1,'DE'),(450130,742378,165.03140844727,30,1,27,1,0,0,0,0,1,'TX'),(30068,744969,1139.62459697779,30,0,19,0,1,0,1,1,1,'TN'),(670067,750090,0,74,0,38,1,0,0,0,0,-1,'IN'),(390091,783051,0,32,1,20,1,1,0,1,0,-1,'PA'),(340084,784526,1141.01932849276,28,1,29,1,0,1,0,1,1,'NC'),(180005,786045,1876.47070299184,37,1,18,1,1,0,0,1,-1,'KY'),(140231,793725,1136.16624400157,56,1,18,1,0,1,0,1,-1,'NC'),(330160,795427,1.02336663223091,35,1,31,1,0,1,0,0,-1,'NY'),(240020,817860,7.26690393775021,40,0,36,1,1,0,0,1,1,'MN'),(100269,822734,3312.1179570618,44,1,32,1,1,1,0,0,-1,'GA'),(490032,827295,188.728210166269,73,0,31,1,0,1,0,1,-1,'NH'),(450617,832204,5.7607660917047,24,0,28,1,1,1,1,1,0,'TX'),(390067,846484,13.001597880183,25,0,23,0,0,0,0,1,0,'OK'),(100211,858081,19451.6276276593,41,1,36,0,0,1,0,1,-1,'KY'),(90011,859889,3287.36190878833,21,0,30,0,1,1,0,1,0,'ND'),(100255,875803,8328.74966686,70,1,26,0,1,0,0,0,1,'ID'),(670076,877382,61.4072752928726,34,1,20,0,1,0,0,1,1,'TN'),(450713,890393,87.9546272598565,28,1,26,1,0,1,0,0,0,'TX'),(50308,896255,1.99515636128498,24,0,25,1,0,0,0,0,1,'CA'),(490123,914459,799.110587994716,61,1,36,0,0,0,0,0,1,'UT'),(300001,914986,0,30,1,31,0,0,1,1,0,0,'NH'),(50708,958117,0,73,0,26,1,0,1,0,0,-1,'CA'),(110142,960940,859.584628057995,56,0,27,1,0,1,0,0,0,'IN'),(50779,964136,0,31,1,23,1,1,1,0,1,-1,'CA'),(10130,968836,0,23,0,32,1,0,1,0,0,0,'AL'),(330104,969985,636.863127345299,20,0,30,1,0,0,0,0,1,'GA'),(190017,972286,2.98770448263685,44,0,29,0,1,0,0,0,0,'UT'),(230070,982838,807.084249866267,34,0,22,0,1,0,0,1,1,'MI'),(220058,983693,1571.43558785055,57,0,39,1,0,1,0,0,1,'MA'),(330232,985087,34.4764545613014,19,1,28,1,1,0,0,1,1,'ND');")

In [ ]:
conn.commit()



---

In [ ]:
import mysql.connector

# Create a connection to the MySQL server
conn = mysql.connector.connect(user='root', password='root', host='localhost')

# Create a cursor to interact with the MySQL server
cursor = conn.cursor()

# Create a new database named 'hospital' # CREATE DATABASE  IF NOT EXISTS hospital
cursor.execute("CREATE DATABASE  IF NOT EXISTS `hospital` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;")

# Switch to the 'hospital' database
cursor.execute("USE `hospital`;") # USE hospital

# Create the 'hospital_data' table
cursor.execute('''
-- MySQL dump 10.13  Distrib 8.0.32, for Win64 (x86_64)
--
-- Host: localhost    Database: hospital
-- ------------------------------------------------------
-- Server version	8.0.32

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `hospital_data`
--

DROP TABLE IF EXISTS `hospital_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hospital_data` (
  `HospitalName` text COLLATE utf8mb3_bin,
  `ProviderNo` int DEFAULT '0',
  `State` text COLLATE utf8mb3_bin,
  `Period` text COLLATE utf8mb3_bin,
  `ClaimType` text COLLATE utf8mb3_bin,
  `HospitalAvgSpend` double DEFAULT '0',
  `StateAvgSpend` double DEFAULT '0',
  `NationalAvgSpend` double DEFAULT '0',
  `HospitalSpendingPercentage` double DEFAULT '0',
  `StateSpendingPercentage` double DEFAULT '0',
  `NationalSpendPercentage` double DEFAULT '0',
  `StartDate` date DEFAULT NULL,
  `EndDate` date DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_bin;

''')

# Always remember to close the cursor and connection when done
cursor.close()
conn.close()

In [ ]:
import mysql.connector

# Connect to the MySQL server and the 'hospital' database
conn = mysql.connector.connect(user='root', password='root', host='localhost', database='hospital')
cursor = conn.cursor()

hospital_data = [
    ('FALMOUTH HOSPITAL',220135,'MA','1 through 30 days After Discharge from Index Hospital Admission','Hospice',104,88,122,0.0052,0.0043,0.006,'2021-08-13','2022-07-26'),('PALMS WEST HOSPITAL',100269,'FL','1 through 30 days After Discharge from Index Hospital Admission','Skilled Nursing Facility',3235,3534,3319,0.1676,0.1707,0.1619,'2022-03-03','2022-09-18'),('BAYLOR ORTHOPEDIC AND SPINE HOSPITAL AT ARLINGTON',670067,'TX','During Index Hospital Admission','Home Health Agency',0,0,0,0,0,0,'2023-03-24','2023-07-28'),('ST MARY\'S HOSPITAL ( TROY )',330232,'NY','1 to 3 days Prior to Index Hospital Admission','Outpatient',33,83,124,0.0022,0.0041,0.0061,'2022-12-27','2023-08-05'),('MARTIN LUTHER KING JR. COMMUNITY HOSPITAL',50779,'CA','1 to 3 days Prior to Index Hospital Admission','Home Health Agency',0,13,14,0,0.0006,0.0007,'2021-01-29','2021-05-19'),('KEARNEY REGIONAL MEDICAL CENTER',280134,'NE','1 to 3 days Prior to Index Hospital Admission','Outpatient',531,255,124,0.0241,0.0122,0.0061,'2022-02-11','2023-01-08'),('FRANKLIN WOODS COMMUNITY HOSPITAL',440184,'TN','1 through 30 days After Discharge from Index Hospital Admission','Inpatient',2158,2773,2702,0.1411,0.1345,0.1318,'2023-01-29','2023-10-25'),('OPELOUSAS GENERAL HEALTH SYSTEM',190017,'LA','1 to 3 days Prior to Index Hospital Admission','Hospice',3,1,1,0.0001,0,0,'2022-05-03','2022-12-08'),('CAROLINAS HEALTH CARE SYSTEM ANSON',340084,'NC','1 through 30 days After Discharge from Index Hospital Admission','Inpatient',1185,2229,2702,0.0915,0.1128,0.1318,'2022-05-07','2022-10-21'),('DELAWARE COUNTY MEMORIAL HOSPITAL',390081,'PA','1 through 30 days After Discharge from Index Hospital Admission','Outpatient',810,725,730,0.0375,0.0351,0.0356,'2021-05-08','2022-01-25'),('SACRED HEART HOSPITAL',520013,'WI','1 to 3 days Prior to Index Hospital Admission','Carrier',484,490,552,0.0245,0.025,0.0269,'2023-09-04','2023-09-06'),('BAYLOR SCOTT & WHITE MEDICAL CENTER GRAPEVINE',450563,'TX','During Index Hospital Admission','Home Health Agency',0,0,0,0,0,0,'2019-06-27','2019-08-15'),('EVANS MEMORIAL HOSPITAL',110142,'GA','1 through 30 days After Discharge from Index Hospital Admission','Home Health Agency',860,818,816,0.0646,0.041,0.0398,'2019-08-22','2019-10-24'),('FLORIDA HOSPITAL NORTH PINELLAS',100055,'FL','1 to 3 days Prior to Index Hospital Admission','Home Health Agency',12,21,14,0.0006,0.001,0.0007,'2021-09-07','2022-03-11'),('ST VINCENT HOT SPRINGS',40026,'AR','1 to 3 days Prior to Index Hospital Admission','Carrier',621,539,552,0.0319,0.0273,0.0269,'2022-02-28','2023-01-31'),('SPARROW CARSON HOSPITAL',230208,'MI','During Index Hospital Admission','Inpatient',8533,9097,9324,0.4834,0.4551,0.4549,'2019-11-30','2019-12-16'),('CLARENDON MEMORIAL HOSPITAL',420069,'SC','During Index Hospital Admission','Home Health Agency',0,0,0,0,0,0,'2019-11-23','2020-08-02'),('UNITED MEMORIAL MEDICAL CENTER',330073,'NY','During Index Hospital Admission','Hospice',0,0,0,0,0,0,'2022-01-08','2022-03-22'),('FRESNO SURGICAL HOSPITAL',50708,'CA','1 to 3 days Prior to Index Hospital Admission','Skilled Nursing Facility',0,3,2,0,0.0001,0.0001,'2023-03-15','2023-03-21'),('STATEN ISLAND UNIVERSITY HOSPITAL',330160,'NY','1 to 3 days Prior to Index Hospital Admission','Inpatient',1,4,5,0,0.0002,0.0003,'2022-05-27','2022-11-06'),('HIGHLANDS REGIONAL MEDICAL CENTER',180005,'KY','1 through 30 days After Discharge from Index Hospital Admission','Inpatient',1895,2638,2702,0.1266,0.1348,0.1318,'2022-02-10','2022-04-12'),('NORTHEAST GEORGIA MEDICAL CENTER INC',110029,'GA','1 to 3 days Prior to Index Hospital Admission','Outpatient',128,111,124,0.0065,0.0056,0.0061,'2020-07-13','2021-06-05'),('EL CAMINO HOSPITAL',50308,'CA','1 to 3 days Prior to Index Hospital Admission','Skilled Nursing Facility',2,3,2,0.0001,0.0001,0.0001,'2021-10-26','2022-10-07'),('JERSEY SHORE UNIVERSITY MEDICAL CENTER',310073,'NJ','Complete Episode','Total',23842,21733,20497,1,1,1,'2021-04-24','2021-09-13'),('CLEAR LAKE REGIONAL MEDICAL CENTER',450617,'TX','1 to 3 days Prior to Index Hospital Admission','Inpatient',6,5,5,0.0003,0.0002,0.0003,'2019-10-15','2019-10-19'),('MEDSTAR WASHINGTON HOSPITAL CENTER',90011,'DC','1 through 30 days After Discharge from Index Hospital Admission','Skilled Nursing Facility',3213,3088,3319,0.1297,0.147,0.1619,'2019-09-22','2019-12-19'),('CITRUS MEMORIAL HOSPITAL',100023,'FL','During Index Hospital Admission','Inpatient',8228,8871,9324,0.4351,0.4285,0.4549,'2023-09-19','2023-11-03'),('UNION HOSPITAL',360010,'OH','During Index Hospital Admission','Outpatient',0,0,0,0,0,0,'2022-06-16','2023-04-19'),('ST JOSEPH HOSPITAL',200001,'ME','1 through 30 days After Discharge from Index Hospital Admission','Inpatient',1363,2184,2702,0.077,0.1132,0.1318,'2021-11-25','2022-06-01'),('EDWARD HOSPITAL',140231,'IL','1 through 30 days After Discharge from Index Hospital Admission','Home Health Agency',1087,791,816,0.0507,0.0383,0.0398,'2020-02-05','2020-07-15'),('RAPPAHANNOCK GENERAL HOSPITAL',490123,'VA','1 through 30 days After Discharge from Index Hospital Admission','Carrier',788,1059,1110,0.0523,0.0537,0.0542,'2020-12-02','2021-07-25'),('NORWEGIAN-AMERICAN HOSPITAL',140206,'IL','1 through 30 days After Discharge from Index Hospital Admission','Outpatient',720,788,730,0.0406,0.0381,0.0356,'2020-03-03','2020-06-17'),('BAYFRONT HEALTH DADE CITY',100211,'FL','Complete Episode','Total',20124,20704,20497,1,1,1,'2019-05-19','2019-06-15'),('INTEGRIS BASS BAPTIST HEALTH CENTER',370016,'OK','During Index Hospital Admission','Durable Medical Equipment',30,40,24,0.0016,0.002,0.0012,'2020-07-24','2021-03-10'),('JOHNSON MEMORIAL HOSPITAL',150001,'IN','During Index Hospital Admission','Inpatient',7351,9350,9324,0.3735,0.4515,0.4549,'2021-02-22','2021-07-29'),('NORTHFIELD HOSPITAL',240014,'MN','1 through 30 days After Discharge from Index Hospital Admission','Hospice',55,110,122,0.0042,0.0055,0.006,'2021-12-25','2022-06-26'),('KAISER FOUNDATION HOSPITAL',120011,'HI','During Index Hospital Admission','Durable Medical Equipment',8,14,24,0.0005,0.0007,0.0012,'2020-01-24','2020-02-23'),('BAYLOR SCOTT AND WHITE SURGICAL HOSPITAL AT SHERMA',670076,'TX','1 through 30 days After Discharge from Index Hospital Admission','Durable Medical Equipment',63,114,103,0.0028,0.0051,0.005,'2022-10-21','2023-06-14'),('MT GRAHAM REGIONAL MEDICAL CENTER',30068,'AZ','1 through 30 days After Discharge from Index Hospital Admission','Inpatient',1184,2785,2702,0.075,0.1356,0.1318,'2023-07-22','2023-12-06'),('UMASS MEMORIAL HEALTHCARE-CLINTON HOSPITAL',220058,'MA','1 through 30 days After Discharge from Index Hospital Admission','Inpatient',1611,2670,2702,0.1057,0.1325,0.1318,'2021-03-30','2021-12-31'),('SAINT JOSEPH HOSPITAL',60028,'CO','1 to 3 days Prior to Index Hospital Admission','Skilled Nursing Facility',0,2,2,0,0.0001,0.0001,'2023-06-12','2023-10-10'),('CONCORD HOSPITAL',300001,'NH','During Index Hospital Admission','Hospice',0,0,0,0,0,0,'2021-01-27','2021-08-20'),('VCU MEDICAL CENTER / VCU HEALTH SYSTEM',490032,'VA','1 to 3 days Prior to Index Hospital Admission','Outpatient',192,95,124,0.0081,0.0048,0.0061,'2020-04-23','2021-04-15'),('BAY AREA REGIONAL MEDICAL CENTER LLC',670096,'TX','During Index Hospital Admission','Hospice',0,0,0,0,0,0,'2022-04-10','2023-01-20'),('WOMEN\'S HOSPITAL THE',150149,'IN','1 through 30 days After Discharge from Index Hospital Admission','Home Health Agency',431,558,816,0.0376,0.0269,0.0398,'2019-07-02','2020-02-15'),('MAINE MEDICAL CENTER',200009,'ME','1 through 30 days After Discharge from Index Hospital Admission','Home Health Agency',1030,901,816,0.0452,0.0467,0.0398,'2021-05-01','2021-06-19'),('ST JOSEPH MEDICAL CENTER',390096,'PA','1 through 30 days After Discharge from Index Hospital Admission','Home Health Agency',859,889,816,0.0417,0.043,0.0398,'2020-09-20','2020-11-21'),('ZUNI COMPREHENSIVE COMMUNITY HEALTH CENTER',320060,'NM','1 through 30 days After Discharge from Index Hospital Admission','Inpatient',2145,2608,2702,0.179,0.1372,0.1318,'2020-04-15','2021-02-11'),('VAN WERT COUNTY HOSPITAL',360071,'OH','1 to 3 days Prior to Index Hospital Admission','Home Health Agency',16,12,14,0.0009,0.0006,0.0007,'2021-11-25','2022-01-12'),('TUBA CITY REGIONAL HEALTH CARE CORPORATION',30073,'AZ','1 to 3 days Prior to Index Hospital Admission','Durable Medical Equipment',3,7,9,0.0002,0.0003,0.0004,'2020-08-10','2020-11-15'),('SEQUOIA HOSPITAL',50197,'CA','During Index Hospital Admission','Inpatient',12000,9665,9324,0.5482,0.4571,0.4549,'2021-06-07','2021-08-31'),('PLANTATION GENERAL HOSPITAL',100167,'FL','During Index Hospital Admission','Inpatient',7907,8871,9324,0.393,0.4285,0.4549,'2023-09-15','2023-12-22'),('WINDHAM COMMUNITY MEMORIAL HOSPITAL',70021,'CT','During Index Hospital Admission','Hospice',0,0,0,0,0,0,'2022-06-21','2022-12-01'),('KNOX COUNTY HOSPITAL',450746,'TX','Complete Episode','Total',16089,22110,20497,1,1,1,'2023-02-17','2023-12-17'),('HOLLYWOOD PRESBYTERIAN MEDICAL CENTER',50063,'CA','1 to 3 days Prior to Index Hospital Admission','Carrier',543,558,552,0.0232,0.0264,0.0269,'2022-03-26','2022-10-03'),('MERCY HOSPITAL AND MEDICAL CENTER',140158,'IL','1 through 30 days After Discharge from Index Hospital Admission','Inpatient',3612,2601,2702,0.1875,0.1258,0.1318,'2019-06-13','2020-06-09'),('SAMARITAN HOSPITAL',330180,'NY','During Index Hospital Admission','Hospice',0,0,0,0,0,0,'2020-03-01','2020-05-28'),('ST CHARLES PARISH HOSPITAL',190079,'LA','1 through 30 days After Discharge from Index Hospital Admission','Skilled Nursing Facility',2821,2423,3319,0.1692,0.1148,0.1619,'2021-07-13','2022-02-14'),('WESTSIDE REGIONAL MEDICAL CENTER',100228,'FL','1 through 30 days After Discharge from Index Hospital Admission','Carrier',1537,1339,1110,0.0746,0.0647,0.0542,'2021-10-11','2022-01-20'),('CHRISTUS SPOHN HOSPITAL CORPUS CHRISTI',450046,'TX','1 through 30 days After Discharge from Index Hospital Admission','Outpatient',936,732,730,0.0397,0.0331,0.0356,'2019-01-13','2019-12-05'),('ST DAVID\'S SOUTH AUSTIN MEDICAL CENTER',450713,'TX','1 through 30 days After Discharge from Index Hospital Admission','Durable Medical Equipment',90,114,103,0.0043,0.0051,0.005,'2022-06-23','2023-05-19'),('PROVIDENCE HEALTH CENTER',450042,'TX','1 to 3 days Prior to Index Hospital Admission','Inpatient',5,5,5,0.0003,0.0002,0.0003,'2021-11-14','2022-06-11'),('NYACK HOSPITAL',330104,'NY','1 to 3 days Prior to Index Hospital Admission','Carrier',633,498,552,0.0288,0.0245,0.0269,'2021-05-17','2022-04-22'),('NIX HEALTH CARE SYSTEM',450130,'TX','1 through 30 days After Discharge from Index Hospital Admission','Hospice',159,150,122,0.0075,0.0068,0.006,'2021-07-20','2021-11-05'),('IROQUOIS MEMORIAL HOSPITAL',140167,'IL','During Index Hospital Admission','Durable Medical Equipment',27,20,24,0.0015,0.001,0.0012,'2022-11-26','2023-05-30'),('GEORGETOWN COMMUNITY HOSPITAL',180101,'KY','1 to 3 days Prior to Index Hospital Admission','Skilled Nursing Facility',0,2,2,0,0.0001,0.0001,'2021-01-17','2021-01-25'),('PHOEBE PUTNEY MEMORIAL HOSPITAL',110007,'GA','During Index Hospital Admission','Outpatient',0,0,0,0,0,0,'2023-04-28','2023-10-29'),('FAITH REGIONAL HEALTH SERVICES',280125,'NE','1 through 30 days After Discharge from Index Hospital Admission','Inpatient',1908,2102,2702,0.0848,0.1003,0.1318,'2020-02-29','2020-09-25'),('PINNACLE HEALTH HOSPITALS',390067,'PA','1 to 3 days Prior to Index Hospital Admission','Durable Medical Equipment',13,8,9,0.0006,0.0004,0.0004,'2021-09-23','2022-03-11'),('ST VINCENT\'S MEDICAL CENTER RIVERSIDE',100040,'FL','1 through 30 days After Discharge from Index Hospital Admission','Hospice',144,165,122,0.0066,0.008,0.006,'2022-06-09','2022-07-20'),('MARQUETTE GENERAL HOSPITAL',230054,'MI','1 to 3 days Prior to Index Hospital Admission','Durable Medical Equipment',13,10,9,0.0006,0.0005,0.0004,'2022-07-23','2023-01-01'),('EDEN MEDICAL CENTER',50488,'CA','1 through 30 days After Discharge from Index Hospital Admission','Outpatient',670,671,730,0.028,0.0318,0.0356,'2022-07-14','2022-10-24'),('WILLIAM P. CLEMENTS JR. UNIVERSITY HOSPITAL',450044,'TX','During Index Hospital Admission','Skilled Nursing Facility',0,0,0,0,0,0,'2021-07-26','2021-11-27'),('MARTIN GENERAL HOSPITAL',340133,'NC','1 to 3 days Prior to Index Hospital Admission','Outpatient',35,153,124,0.0023,0.0077,0.0061,'2022-08-26','2023-07-16'),('COVENANT HEALTHCARE',230070,'MI','1 through 30 days After Discharge from Index Hospital Admission','Outpatient',769,737,730,0.0369,0.0369,0.0356,'2019-04-11','2019-07-06'),('ST VINCENT\'S ST CLAIR',10130,'AL','1 to 3 days Prior to Index Hospital Admission','Hospice',0,1,1,0,0.0001,0,'2022-10-08','2023-01-26'),('HILL COUNTRY MEMORIAL HOSPITAL INC',450604,'TX','1 through 30 days After Discharge from Index Hospital Admission','Skilled Nursing Facility',3658,3010,3319,0.1925,0.1361,0.1619,'2022-03-29','2022-06-20'),('SAN JUAN REGIONAL MEDICAL CENTER',320005,'NM','During Index Hospital Admission','Hospice',0,0,0,0,0,0,'2021-12-30','2022-09-26'),('UPMC NORTHWEST',390091,'PA','During Index Hospital Admission','Hospice',0,0,0,0,0,0,'2021-06-22','2021-07-20'),('BANNER CASA GRANDE MEDICAL CENTER',30016,'AZ','1 through 30 days After Discharge from Index Hospital Admission','Skilled Nursing Facility',1914,2196,3319,0.1097,0.1069,0.1619,'2023-12-01','2023-12-06'),('DELANO REGIONAL MEDICAL CENTER',50608,'CA','1 to 3 days Prior to Index Hospital Admission','Hospice',0,0,1,0,0,0,'2020-06-17','2021-01-04'),('WINDBER HOSPITAL',390112,'PA','1 through 30 days After Discharge from Index Hospital Admission','Carrier',699,1106,1110,0.0425,0.0535,0.0542,'2022-04-19','2022-12-19'),('BECKLEY ARH HOSPITAL',510062,'WV','During Index Hospital Admission','Durable Medical Equipment',44,37,24,0.0023,0.0019,0.0012,'2021-05-23','2022-01-09'),('FAIRBANKS MEMORIAL HOSPITAL',20012,'AK','1 through 30 days After Discharge from Index Hospital Admission','Carrier',647,863,1110,0.0434,0.0433,0.0542,'2023-06-25','2023-10-09'),('ST LUKES REGIONAL MEDICAL CENTER',160146,'IA','During Index Hospital Admission','Outpatient',0,0,0,0,0,0,'2022-10-16','2022-12-10'),('MEMORIAL MEDICAL CENTER OF EAST TEXAS',450211,'TX','1 through 30 days After Discharge from Index Hospital Admission','Hospice',228,150,122,0.0106,0.0068,0.006,'2022-01-14','2022-04-10'),('LEESBURG REGIONAL MEDICAL CENTER',100084,'FL','During Index Hospital Admission','Inpatient',9489,8871,9324,0.4586,0.4285,0.4549,'2019-06-21','2019-08-03'),('CAMBRIDGE MEDICAL CENTER',240020,'MN','1 to 3 days Prior to Index Hospital Admission','Durable Medical Equipment',7,10,9,0.0005,0.0005,0.0004,'2023-03-20','2023-11-21'),('VIERA HOSPITAL',100315,'FL','During Index Hospital Admission','Hospice',0,0,0,0,0,0,'2023-06-24','2023-07-05'),('BAYLOR SCOTT & WHITE MEDICAL CENTER - BRENHAM',450187,'TX','During Index Hospital Admission','Home Health Agency',0,0,0,0,0,0,'2023-12-19','2023-12-28'),('ANDERSON REGIONAL MEDICAL CTR',250104,'MS','During Index Hospital Admission','Outpatient',0,0,0,0,0,0,'2020-06-16','2021-03-12'),('ADVOCATE LUTHERAN GENERAL HOSPITAL',140223,'IL','1 through 30 days After Discharge from Index Hospital Admission','Inpatient',2759,2601,2702,0.1211,0.1258,0.1318,'2021-07-13','2021-12-31'),('SAINT FRANCIS BARTLETT MEDICAL CENTER',440228,'TN','1 to 3 days Prior to Index Hospital Admission','Outpatient',53,141,124,0.0026,0.0068,0.0061,'2022-02-16','2022-06-28'),('ST JAMES MERCY HOSPITAL',330151,'NY','During Index Hospital Admission','Outpatient',0,0,0,0,0,0,'2020-03-31','2020-05-31'),('MEMORIAL HEALTHCARE SYSTEM INC',440091,'TN','1 to 3 days Prior to Index Hospital Admission','Carrier',474,647,552,0.0226,0.0314,0.0269,'2021-07-04','2021-09-30'),('NORTH MEMORIAL MEDICAL CENTER',240001,'MN','1 to 3 days Prior to Index Hospital Admission','Carrier',389,489,552,0.0186,0.0244,0.0269,'2019-03-08','2019-03-21'),('HURLEY MEDICAL CENTER',230132,'MI','1 to 3 days Prior to Index Hospital Admission','Home Health Agency',12,14,14,0.0006,0.0007,0.0007,'2019-02-09','2019-05-10'),('VAN WERT COUNTY HOSPITAL',360071,'OH','1 to 3 days Prior to Index Hospital Admission','Durable Medical Equipment',4,9,9,0.0002,0.0004,0.0004,'2023-04-30','2023-10-14'),('LANCASTER GENERAL HOSPITAL',390100,'PA','1 to 3 days Prior to Index Hospital Admission','Durable Medical Equipment',6,8,9,0.0003,0.0004,0.0004,'2023-01-26','2023-10-27'),('TAMPA COMMUNITY HOSPITAL',100255,'FL','During Index Hospital Admission','Inpatient',8068,8871,9324,0.4248,0.4285,0.4549,'2020-09-04','2020-10-18')
]

# Insert data using the cursor
cursor.executemany('''
INSERT INTO hospital_data VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
''', hospital_data)

# Commit the changes
conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()

In [ ]:
import mysql.connector

# Connect to the MySQL server and the 'hospital' database
conn = mysql.connector.connect(user='root', password='root', host='localhost', database='hospital')
cursor = conn.cursor()

# Execute the SELECT query
# cursor.execute("SELECT table_name FROM information_schema.tables;") # SELECT * FROM hospital_data
cursor.execute("SELECT * FROM hospital_data") # SELECT table_name FROM information_schema.tables;

# Fetch all the results
records = cursor.fetchall()

# Print the records
for record in records:
    print(record)

# Close the cursor and connection
cursor.close()
conn.close()

('FALMOUTH HOSPITAL', 220135, 'MA', '1 through 30 days After Discharge from Index Hospital Admission', 'Hospice', 104.0, 88.0, 122.0, 0.0052, 0.0043, 0.006, datetime.date(2021, 8, 13), datetime.date(2022, 7, 26))
('PALMS WEST HOSPITAL', 100269, 'FL', '1 through 30 days After Discharge from Index Hospital Admission', 'Skilled Nursing Facility', 3235.0, 3534.0, 3319.0, 0.1676, 0.1707, 0.1619, datetime.date(2022, 3, 3), datetime.date(2022, 9, 18))
('BAYLOR ORTHOPEDIC AND SPINE HOSPITAL AT ARLINGTON', 670067, 'TX', 'During Index Hospital Admission', 'Home Health Agency', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, datetime.date(2023, 3, 24), datetime.date(2023, 7, 28))
("ST MARY'S HOSPITAL ( TROY )", 330232, 'NY', '1 to 3 days Prior to Index Hospital Admission', 'Outpatient', 33.0, 83.0, 124.0, 0.0022, 0.0041, 0.0061, datetime.date(2022, 12, 27), datetime.date(2023, 8, 5))
('MARTIN LUTHER KING JR. COMMUNITY HOSPITAL', 50779, 'CA', '1 to 3 days Prior to Index Hospital Admission', 'Home Health Agency', 0.0, 13.0, 14.0, 0.0, 0.0006, 0.0007, datetime.date(2021, 1, 29), datetime.date(2021, 5, 19))
('KEARNEY REGIONAL MEDICAL CENTER', 280134, 'NE', '1 to 3 days Prior to Index Hospital Admission', 'Outpatient', 531.0, 255.0, 124.0, 0.0241, 0.0122, 0.0061, datetime.date(2022, 2, 11), datetime.date(2023, 1, 8))
('FRANKLIN WOODS COMMUNITY HOSPITAL', 440184, 'TN', '1 through 30 days After Discharge from Index Hospital Admission', 'Inpatient', 2158.0, 2773.0, 2702.0, 0.1411, 0.1345, 0.1318, datetime.date(2023, 1, 29), datetime.date(2023, 10, 25))
('OPELOUSAS GENERAL HEALTH SYSTEM', 190017, 'LA', '1 to 3 days Prior to Index Hospital Admission', 'Hospice', 3.0, 1.0, 1.0, 0.0001, 0.0, 0.0, datetime.date(2022, 5, 3), datetime.date(2022, 12, 8))
('CAROLINAS HEALTH CARE SYSTEM ANSON', 340084, 'NC', '1 through 30 days After Discharge from Index Hospital Admission', 'Inpatient', 1185.0, 2229.0, 2702.0, 0.0915, 0.1128, 0.1318, datetime.date(2022, 5, 7), datetime.date(2022, 10, 21))
('DELAWARE COUNTY MEMORIAL HOSPITAL', 390081, 'PA', '1 through 30 days After Discharge from Index Hospital Admission', 'Outpatient', 810.0, 725.0, 730.0, 0.0375, 0.0351, 0.0356, datetime.date(2021, 5, 8), datetime.date(2022, 1, 25))
('SACRED HEART HOSPITAL', 520013, 'WI', '1 to 3 days Prior to Index Hospital Admission', 'Carrier', 484.0, 490.0, 552.0, 0.0245, 0.025, 0.0269, datetime.date(2023, 9, 4), datetime.date(2023, 9, 6))
('BAYLOR SCOTT & WHITE MEDICAL CENTER GRAPEVINE', 450563, 'TX', 'During Index Hospital Admission', 'Home Health Agency', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, datetime.date(2019, 6, 27), datetime.date(2019, 8, 15))
('EVANS MEMORIAL HOSPITAL', 110142, 'GA', '1 through 30 days After Discharge from Index Hospital Admission', 'Home Health Agency', 860.0, 818.0, 816.0, 0.0646, 0.041, 0.0398, datetime.date(2019, 8, 22), datetime.date(2019, 10, 24))
('FLORIDA HOSPITAL NORTH PINELLAS', 100055, 'FL', '1 to 3 days Prior to Index Hospital Admission', 'Home Health Agency', 12.0, 21.0, 14.0, 0.0006, 0.001, 0.0007, datetime.date(2021, 9, 7), datetime.date(2022, 3, 11))
('ST VINCENT HOT SPRINGS', 40026, 'AR', '1 to 3 days Prior to Index Hospital Admission', 'Carrier', 621.0, 539.0, 552.0, 0.0319, 0.0273, 0.0269, datetime.date(2022, 2, 28), datetime.date(2023, 1, 31))
('SPARROW CARSON HOSPITAL', 230208, 'MI', 'During Index Hospital Admission', 'Inpatient', 8533.0, 9097.0, 9324.0, 0.4834, 0.4551, 0.4549, datetime.date(2019, 11, 30), datetime.date(2019, 12, 16))
('CLARENDON MEMORIAL HOSPITAL', 420069, 'SC', 'During Index Hospital Admission', 'Home Health Agency', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, datetime.date(2019, 11, 23), datetime.date(2020, 8, 2))
('UNITED MEMORIAL MEDICAL CENTER', 330073, 'NY', 'During Index Hospital Admission', 'Hospice', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, datetime.date(2022, 1, 8), datetime.date(2022, 3, 22))
('FRESNO SURGICAL HOSPITAL', 50708, 'CA', '1 to 3 days Prior to Index Hospital Admission', 'Skilled Nursing Facility', 0.0, 3.0, 2.0, 0.0, 0.0001, 0.0001, datetime.date(2023, 3, 15), datetime.date(2023, 3, 21))
('STATEN ISLAND UNIVERSITY HOSPITAL', 330160, 'NY', '1 to 3 days Prior to Index Hospital Admission', 'Inpatient', 1.0, 4.0, 5.0, 0.0, 0.0002, 0.0003, datetime.date(2022, 5, 27), datetime.date(2022, 11, 6))
('HIGHLANDS REGIONAL MEDICAL CENTER', 180005, 'KY', '1 through 30 days After Discharge from Index Hospital Admission', 'Inpatient', 1895.0, 2638.0, 2702.0, 0.1266, 0.1348, 0.1318, datetime.date(2022, 2, 10), datetime.date(2022, 4, 12))
('NORTHEAST GEORGIA MEDICAL CENTER INC', 110029, 'GA', '1 to 3 days Prior to Index Hospital Admission', 'Outpatient', 128.0, 111.0, 124.0, 0.0065, 0.0056, 0.0061, datetime.date(2020, 7, 13), datetime.date(2021, 6, 5))
('EL CAMINO HOSPITAL', 50308, 'CA', '1 to 3 days Prior to Index Hospital Admission', 'Skilled Nursing Facility', 2.0, 3.0, 2.0, 0.0001, 0.0001, 0.0001, datetime.date(2021, 10, 26), datetime.date(2022, 10, 7))
('JERSEY SHORE UNIVERSITY MEDICAL CENTER', 310073, 'NJ', 'Complete Episode', 'Total', 23842.0, 21733.0, 20497.0, 1.0, 1.0, 1.0, datetime.date(2021, 4, 24), datetime.date(2021, 9, 13))
('CLEAR LAKE REGIONAL MEDICAL CENTER', 450617, 'TX', '1 to 3 days Prior to Index Hospital Admission', 'Inpatient', 6.0, 5.0, 5.0, 0.0003, 0.0002, 0.0003, datetime.date(2019, 10, 15), datetime.date(2019, 10, 19))
('MEDSTAR WASHINGTON HOSPITAL CENTER', 90011, 'DC', '1 through 30 days After Discharge from Index Hospital Admission', 'Skilled Nursing Facility', 3213.0, 3088.0, 3319.0, 0.1297, 0.147, 0.1619, datetime.date(2019, 9, 22), datetime.date(2019, 12, 19))
('CITRUS MEMORIAL HOSPITAL', 100023, 'FL', 'During Index Hospital Admission', 'Inpatient', 8228.0, 8871.0, 9324.0, 0.4351, 0.4285, 0.4549, datetime.date(2023, 9, 19), datetime.date(2023, 11, 3))
('UNION HOSPITAL', 360010, 'OH', 'During Index Hospital Admission', 'Outpatient', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, datetime.date(2022, 6, 16), datetime.date(2023, 4, 19))
('ST JOSEPH HOSPITAL', 200001, 'ME', '1 through 30 days After Discharge from Index Hospital Admission', 'Inpatient', 1363.0, 2184.0, 2702.0, 0.077, 0.1132, 0.1318, datetime.date(2021, 11, 25), datetime.date(2022, 6, 1))
('EDWARD HOSPITAL', 140231, 'IL', '1 through 30 days After Discharge from Index Hospital Admission', 'Home Health Agency', 1087.0, 791.0, 816.0, 0.0507, 0.0383, 0.0398, datetime.date(2020, 2, 5), datetime.date(2020, 7, 15))
('RAPPAHANNOCK GENERAL HOSPITAL', 490123, 'VA', '1 through 30 days After Discharge from Index Hospital Admission', 'Carrier', 788.0, 1059.0, 1110.0, 0.0523, 0.0537, 0.0542, datetime.date(2020, 12, 2), datetime.date(2021, 7, 25))
('NORWEGIAN-AMERICAN HOSPITAL', 140206, 'IL', '1 through 30 days After Discharge from Index Hospital Admission', 'Outpatient', 720.0, 788.0, 730.0, 0.0406, 0.0381, 0.0356, datetime.date(2020, 3, 3), datetime.date(2020, 6, 17))
('BAYFRONT HEALTH DADE CITY', 100211, 'FL', 'Complete Episode', 'Total', 20124.0, 20704.0, 20497.0, 1.0, 1.0, 1.0, datetime.date(2019, 5, 19), datetime.date(2019, 6, 15))
('INTEGRIS BASS BAPTIST HEALTH CENTER', 370016, 'OK', 'During Index Hospital Admission', 'Durable Medical Equipment', 30.0, 40.0, 24.0, 0.0016, 0.002, 0.0012, datetime.date(2020, 7, 24), datetime.date(2021, 3, 10))
('JOHNSON MEMORIAL HOSPITAL', 150001, 'IN', 'During Index Hospital Admission', 'Inpatient', 7351.0, 9350.0, 9324.0, 0.3735, 0.4515, 0.4549, datetime.date(2021, 2, 22), datetime.date(2021, 7, 29))
('NORTHFIELD HOSPITAL', 240014, 'MN', '1 through 30 days After Discharge from Index Hospital Admission', 'Hospice', 55.0, 110.0, 122.0, 0.0042, 0.0055, 0.006, datetime.date(2021, 12, 25), datetime.date(2022, 6, 26))
('KAISER FOUNDATION HOSPITAL', 120011, 'HI', 'During Index Hospital Admission', 'Durable Medical Equipment', 8.0, 14.0, 24.0, 0.0005, 0.0007, 0.0012, datetime.date(2020, 1, 24), datetime.date(2020, 2, 23))
('BAYLOR SCOTT AND WHITE SURGICAL HOSPITAL AT SHERMA', 670076, 'TX', '1 through 30 days After Discharge from Index Hospital Admission', 'Durable Medical Equipment', 63.0, 114.0, 103.0, 0.0028, 0.0051, 0.005, datetime.date(2022, 10, 21), datetime.date(2023, 6, 14))
('MT GRAHAM REGIONAL MEDICAL CENTER', 30068, 'AZ', '1 through 30 days After Discharge from Index Hospital Admission', 'Inpatient', 1184.0, 2785.0, 2702.0, 0.075, 0.1356, 0.1318, datetime.date(2023, 7, 22), datetime.date(2023, 12, 6))
('UMASS MEMORIAL HEALTHCARE-CLINTON HOSPITAL', 220058, 'MA', '1 through 30 days After Discharge from Index Hospital Admission', 'Inpatient', 1611.0, 2670.0, 2702.0, 0.1057, 0.1325, 0.1318, datetime.date(2021, 3, 30), datetime.date(2021, 12, 31))
('SAINT JOSEPH HOSPITAL', 60028, 'CO', '1 to 3 days Prior to Index Hospital Admission', 'Skilled Nursing Facility', 0.0, 2.0, 2.0, 0.0, 0.0001, 0.0001, datetime.date(2023, 6, 12), datetime.date(2023, 10, 10))
('CONCORD HOSPITAL', 300001, 'NH', 'During Index Hospital Admission', 'Hospice', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, datetime.date(2021, 1, 27), datetime.date(2021, 8, 20))
('VCU MEDICAL CENTER / VCU HEALTH SYSTEM', 490032, 'VA', '1 to 3 days Prior to Index Hospital Admission', 'Outpatient', 192.0, 95.0, 124.0, 0.0081, 0.0048, 0.0061, datetime.date(2020, 4, 23), datetime.date(2021, 4, 15))
('BAY AREA REGIONAL MEDICAL CENTER LLC', 670096, 'TX', 'During Index Hospital Admission', 'Hospice', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, datetime.date(2022, 4, 10), datetime.date(2023, 1, 20))
("WOMEN'S HOSPITAL THE", 150149, 'IN', '1 through 30 days After Discharge from Index Hospital Admission', 'Home Health Agency', 431.0, 558.0, 816.0, 0.0376, 0.0269, 0.0398, datetime.date(2019, 7, 2), datetime.date(2020, 2, 15))
('MAINE MEDICAL CENTER', 200009, 'ME', '1 through 30 days After Discharge from Index Hospital Admission', 'Home Health Agency', 1030.0, 901.0, 816.0, 0.0452, 0.0467, 0.0398, datetime.date(2021, 5, 1), datetime.date(2021, 6, 19))
('ST JOSEPH MEDICAL CENTER', 390096, 'PA', '1 through 30 days After Discharge from Index Hospital Admission', 'Home Health Agency', 859.0, 889.0, 816.0, 0.0417, 0.043, 0.0398, datetime.date(2020, 9, 20), datetime.date(2020, 11, 21))
('ZUNI COMPREHENSIVE COMMUNITY HEALTH CENTER', 320060, 'NM', '1 through 30 days After Discharge from Index Hospital Admission', 'Inpatient', 2145.0, 2608.0, 2702.0, 0.179, 0.1372, 0.1318, datetime.date(2020, 4, 15), datetime.date(2021, 2, 11))
('VAN WERT COUNTY HOSPITAL', 360071, 'OH', '1 to 3 days Prior to Index Hospital Admission', 'Home Health Agency', 16.0, 12.0, 14.0, 0.0009, 0.0006, 0.0007, datetime.date(2021, 11, 25), datetime.date(2022, 1, 12))
('TUBA CITY REGIONAL HEALTH CARE CORPORATION', 30073, 'AZ', '1 to 3 days Prior to Index Hospital Admission', 'Durable Medical Equipment', 3.0, 7.0, 9.0, 0.0002, 0.0003, 0.0004, datetime.date(2020, 8, 10), datetime.date(2020, 11, 15))
('SEQUOIA HOSPITAL', 50197, 'CA', 'During Index Hospital Admission', 'Inpatient', 12000.0, 9665.0, 9324.0, 0.5482, 0.4571, 0.4549, datetime.date(2021, 6, 7), datetime.date(2021, 8, 31))
('PLANTATION GENERAL HOSPITAL', 100167, 'FL', 'During Index Hospital Admission', 'Inpatient', 7907.0, 8871.0, 9324.0, 0.393, 0.4285, 0.4549, datetime.date(2023, 9, 15), datetime.date(2023, 12, 22))
('WINDHAM COMMUNITY MEMORIAL HOSPITAL', 70021, 'CT', 'During Index Hospital Admission', 'Hospice', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, datetime.date(2022, 6, 21), datetime.date(2022, 12, 1))
('KNOX COUNTY HOSPITAL', 450746, 'TX', 'Complete Episode', 'Total', 16089.0, 22110.0, 20497.0, 1.0, 1.0, 1.0, datetime.date(2023, 2, 17), datetime.date(2023, 12, 17))
('HOLLYWOOD PRESBYTERIAN MEDICAL CENTER', 50063, 'CA', '1 to 3 days Prior to Index Hospital Admission', 'Carrier', 543.0, 558.0, 552.0, 0.0232, 0.0264, 0.0269, datetime.date(2022, 3, 26), datetime.date(2022, 10, 3))
('MERCY HOSPITAL AND MEDICAL CENTER', 140158, 'IL', '1 through 30 days After Discharge from Index Hospital Admission', 'Inpatient', 3612.0, 2601.0, 2702.0, 0.1875, 0.1258, 0.1318, datetime.date(2019, 6, 13), datetime.date(2020, 6, 9))
('SAMARITAN HOSPITAL', 330180, 'NY', 'During Index Hospital Admission', 'Hospice', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, datetime.date(2020, 3, 1), datetime.date(2020, 5, 28))
('ST CHARLES PARISH HOSPITAL', 190079, 'LA', '1 through 30 days After Discharge from Index Hospital Admission', 'Skilled Nursing Facility', 2821.0, 2423.0, 3319.0, 0.1692, 0.1148, 0.1619, datetime.date(2021, 7, 13), datetime.date(2022, 2, 14))
('WESTSIDE REGIONAL MEDICAL CENTER', 100228, 'FL', '1 through 30 days After Discharge from Index Hospital Admission', 'Carrier', 1537.0, 1339.0, 1110.0, 0.0746, 0.0647, 0.0542, datetime.date(2021, 10, 11), datetime.date(2022, 1, 20))
('CHRISTUS SPOHN HOSPITAL CORPUS CHRISTI', 450046, 'TX', '1 through 30 days After Discharge from Index Hospital Admission', 'Outpatient', 936.0, 732.0, 730.0, 0.0397, 0.0331, 0.0356, datetime.date(2019, 1, 13), datetime.date(2019, 12, 5))
("ST DAVID'S SOUTH AUSTIN MEDICAL CENTER", 450713, 'TX', '1 through 30 days After Discharge from Index Hospital Admission', 'Durable Medical Equipment', 90.0, 114.0, 103.0, 0.0043, 0.0051, 0.005, datetime.date(2022, 6, 23), datetime.date(2023, 5, 19))
('PROVIDENCE HEALTH CENTER', 450042, 'TX', '1 to 3 days Prior to Index Hospital Admission', 'Inpatient', 5.0, 5.0, 5.0, 0.0003, 0.0002, 0.0003, datetime.date(2021, 11, 14), datetime.date(2022, 6, 11))
('NYACK HOSPITAL', 330104, 'NY', '1 to 3 days Prior to Index Hospital Admission', 'Carrier', 633.0, 498.0, 552.0, 0.0288, 0.0245, 0.0269, datetime.date(2021, 5, 17), datetime.date(2022, 4, 22))
('NIX HEALTH CARE SYSTEM', 450130, 'TX', '1 through 30 days After Discharge from Index Hospital Admission', 'Hospice', 159.0, 150.0, 122.0, 0.0075, 0.0068, 0.006, datetime.date(2021, 7, 20), datetime.date(2021, 11, 5))
('IROQUOIS MEMORIAL HOSPITAL', 140167, 'IL', 'During Index Hospital Admission', 'Durable Medical Equipment', 27.0, 20.0, 24.0, 0.0015, 0.001, 0.0012, datetime.date(2022, 11, 26), datetime.date(2023, 5, 30))
('GEORGETOWN COMMUNITY HOSPITAL', 180101, 'KY', '1 to 3 days Prior to Index Hospital Admission', 'Skilled Nursing Facility', 0.0, 2.0, 2.0, 0.0, 0.0001, 0.0001, datetime.date(2021, 1, 17), datetime.date(2021, 1, 25))
('PHOEBE PUTNEY MEMORIAL HOSPITAL', 110007, 'GA', 'During Index Hospital Admission', 'Outpatient', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, datetime.date(2023, 4, 28), datetime.date(2023, 10, 29))
('FAITH REGIONAL HEALTH SERVICES', 280125, 'NE', '1 through 30 days After Discharge from Index Hospital Admission', 'Inpatient', 1908.0, 2102.0, 2702.0, 0.0848, 0.1003, 0.1318, datetime.date(2020, 2, 29), datetime.date(2020, 9, 25))
('PINNACLE HEALTH HOSPITALS', 390067, 'PA', '1 to 3 days Prior to Index Hospital Admission', 'Durable Medical Equipment', 13.0, 8.0, 9.0, 0.0006, 0.0004, 0.0004, datetime.date(2021, 9, 23), datetime.date(2022, 3, 11))
("ST VINCENT'S MEDICAL CENTER RIVERSIDE", 100040, 'FL', '1 through 30 days After Discharge from Index Hospital Admission', 'Hospice', 144.0, 165.0, 122.0, 0.0066, 0.008, 0.006, datetime.date(2022, 6, 9), datetime.date(2022, 7, 20))
('MARQUETTE GENERAL HOSPITAL', 230054, 'MI', '1 to 3 days Prior to Index Hospital Admission', 'Durable Medical Equipment', 13.0, 10.0, 9.0, 0.0006, 0.0005, 0.0004, datetime.date(2022, 7, 23), datetime.date(2023, 1, 1))
('EDEN MEDICAL CENTER', 50488, 'CA', '1 through 30 days After Discharge from Index Hospital Admission', 'Outpatient', 670.0, 671.0, 730.0, 0.028, 0.0318, 0.0356, datetime.date(2022, 7, 14), datetime.date(2022, 10, 24))
('WILLIAM P. CLEMENTS JR. UNIVERSITY HOSPITAL', 450044, 'TX', 'During Index Hospital Admission', 'Skilled Nursing Facility', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, datetime.date(2021, 7, 26), datetime.date(2021, 11, 27))
('MARTIN GENERAL HOSPITAL', 340133, 'NC', '1 to 3 days Prior to Index Hospital Admission', 'Outpatient', 35.0, 153.0, 124.0, 0.0023, 0.0077, 0.0061, datetime.date(2022, 8, 26), datetime.date(2023, 7, 16))
('COVENANT HEALTHCARE', 230070, 'MI', '1 through 30 days After Discharge from Index Hospital Admission', 'Outpatient', 769.0, 737.0, 730.0, 0.0369, 0.0369, 0.0356, datetime.date(2019, 4, 11), datetime.date(2019, 7, 6))
("ST VINCENT'S ST CLAIR", 10130, 'AL', '1 to 3 days Prior to Index Hospital Admission', 'Hospice', 0.0, 1.0, 1.0, 0.0, 0.0001, 0.0, datetime.date(2022, 10, 8), datetime.date(2023, 1, 26))
('HILL COUNTRY MEMORIAL HOSPITAL INC', 450604, 'TX', '1 through 30 days After Discharge from Index Hospital Admission', 'Skilled Nursing Facility', 3658.0, 3010.0, 3319.0, 0.1925, 0.1361, 0.1619, datetime.date(2022, 3, 29), datetime.date(2022, 6, 20))
('SAN JUAN REGIONAL MEDICAL CENTER', 320005, 'NM', 'During Index Hospital Admission', 'Hospice', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, datetime.date(2021, 12, 30), datetime.date(2022, 9, 26))
('UPMC NORTHWEST', 390091, 'PA', 'During Index Hospital Admission', 'Hospice', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, datetime.date(2021, 6, 22), datetime.date(2021, 7, 20))
('BANNER CASA GRANDE MEDICAL CENTER', 30016, 'AZ', '1 through 30 days After Discharge from Index Hospital Admission', 'Skilled Nursing Facility', 1914.0, 2196.0, 3319.0, 0.1097, 0.1069, 0.1619, datetime.date(2023, 12, 1), datetime.date(2023, 12, 6))
('DELANO REGIONAL MEDICAL CENTER', 50608, 'CA', '1 to 3 days Prior to Index Hospital Admission', 'Hospice', 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, datetime.date(2020, 6, 17), datetime.date(2021, 1, 4))
('WINDBER HOSPITAL', 390112, 'PA', '1 through 30 days After Discharge from Index Hospital Admission', 'Carrier', 699.0, 1106.0, 1110.0, 0.0425, 0.0535, 0.0542, datetime.date(2022, 4, 19), datetime.date(2022, 12, 19))
('BECKLEY ARH HOSPITAL', 510062, 'WV', 'During Index Hospital Admission', 'Durable Medical Equipment', 44.0, 37.0, 24.0, 0.0023, 0.0019, 0.0012, datetime.date(2021, 5, 23), datetime.date(2022, 1, 9))
('FAIRBANKS MEMORIAL HOSPITAL', 20012, 'AK', '1 through 30 days After Discharge from Index Hospital Admission', 'Carrier', 647.0, 863.0, 1110.0, 0.0434, 0.0433, 0.0542, datetime.date(2023, 6, 25), datetime.date(2023, 10, 9))
('ST LUKES REGIONAL MEDICAL CENTER', 160146, 'IA', 'During Index Hospital Admission', 'Outpatient', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, datetime.date(2022, 10, 16), datetime.date(2022, 12, 10))
('MEMORIAL MEDICAL CENTER OF EAST TEXAS', 450211, 'TX', '1 through 30 days After Discharge from Index Hospital Admission', 'Hospice', 228.0, 150.0, 122.0, 0.0106, 0.0068, 0.006, datetime.date(2022, 1, 14), datetime.date(2022, 4, 10))
('LEESBURG REGIONAL MEDICAL CENTER', 100084, 'FL', 'During Index Hospital Admission', 'Inpatient', 9489.0, 8871.0, 9324.0, 0.4586, 0.4285, 0.4549, datetime.date(2019, 6, 21), datetime.date(2019, 8, 3))
('CAMBRIDGE MEDICAL CENTER', 240020, 'MN', '1 to 3 days Prior to Index Hospital Admission', 'Durable Medical Equipment', 7.0, 10.0, 9.0, 0.0005, 0.0005, 0.0004, datetime.date(2023, 3, 20), datetime.date(2023, 11, 21))
('VIERA HOSPITAL', 100315, 'FL', 'During Index Hospital Admission', 'Hospice', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, datetime.date(2023, 6, 24), datetime.date(2023, 7, 5))
('BAYLOR SCOTT & WHITE MEDICAL CENTER - BRENHAM', 450187, 'TX', 'During Index Hospital Admission', 'Home Health Agency', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, datetime.date(2023, 12, 19), datetime.date(2023, 12, 28))
('ANDERSON REGIONAL MEDICAL CTR', 250104, 'MS', 'During Index Hospital Admission', 'Outpatient', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, datetime.date(2020, 6, 16), datetime.date(2021, 3, 12))
('ADVOCATE LUTHERAN GENERAL HOSPITAL', 140223, 'IL', '1 through 30 days After Discharge from Index Hospital Admission', 'Inpatient', 2759.0, 2601.0, 2702.0, 0.1211, 0.1258, 0.1318, datetime.date(2021, 7, 13), datetime.date(2021, 12, 31))
('SAINT FRANCIS BARTLETT MEDICAL CENTER', 440228, 'TN', '1 to 3 days Prior to Index Hospital Admission', 'Outpatient', 53.0, 141.0, 124.0, 0.0026, 0.0068, 0.0061, datetime.date(2022, 2, 16), datetime.date(2022, 6, 28))
('ST JAMES MERCY HOSPITAL', 330151, 'NY', 'During Index Hospital Admission', 'Outpatient', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, datetime.date(2020, 3, 31), datetime.date(2020, 5, 31))

In [ ]:
import pandas as pd

# Connect to MySQL
conn = mysql.connector.connect(user='root', password='root', host='localhost', database='hospital')

# Fetch data into a pandas DataFrame
query = "SELECT * FROM hospital_data"
df = pd.read_sql(query, conn)

<ipython-input-44-aa907f89f3ee>:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [ ]:
df.head()

,HospitalName,ProviderNo,State,Period,ClaimType,HospitalAvgSpend,StateAvgSpend,NationalAvgSpend,HospitalSpendingPercentage,StateSpendingPercentage,NationalSpendPercentage,StartDate,EndDate
0,FALMOUTH HOSPITAL,220135,MA,1 through 30 days After Discharge from Index H...,Hospice,104.0,88.0,122.0,0.0052,0.0043,0.0060,2021-08-13,2022-07-26
1,PALMS WEST HOSPITAL,100269,FL,1 through 30 days After Discharge from Index H...,Skilled Nursing Facility,3235.0,3534.0,3319.0,0.1676,0.1707,0.1619,2022-03-03,2022-09-18
2,BAYLOR ORTHOPEDIC AND SPINE HOSPITAL AT ARLINGTON,670067,TX,During Index Hospital Admission,Home Health Agency,0.0,0.0,0.0,0.0000,0.0000,0.0000,2023-03-24,2023-07-28
3,ST MARY'S HOSPITAL ( TROY ),330232,NY,1 to 3 days Prior to Index Hospital Admission,Outpatient,33.0,83.0,124.0,0.0022,0.0041,0.0061,2022-12-27,2023-08-05
4,MARTIN LUTHER KING JR. COMMUNITY HOSPITAL,50779,CA,1 to 3 days Prior to Index Hospital Admission,Home Health Agency,0.0,13.0,14.0,0.0000,0.0006,0.0007,2021-01-29,2021-05-19



---

In [ ]:
import mysql.connector

# Create a connection to the MySQL server
conn = mysql.connector.connect(user='root', password='root', host='localhost')

# Create a cursor to interact with the MySQL server
cursor = conn.cursor()

# Create a new database named 'hospital' # CREATE DATABASE  IF NOT EXISTS hospital
cursor.execute("CREATE DATABASE  IF NOT EXISTS `hospital` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;")

# Switch to the 'hospital' database
cursor.execute("USE `hospital`;") # USE hospital

# Create the 'hospital_data' table
cursor.execute('''
-- MySQL dump 10.13  Distrib 8.0.32, for Win64 (x86_64)
--
-- Host: localhost    Database: hospital
-- ------------------------------------------------------
-- Server version	8.0.32

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `patient_data`
--

DROP TABLE IF EXISTS `patient_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `patient_data` (
  `HospitalID` int DEFAULT NULL,
  `PatientID` int NOT NULL,
  `InvoiceAmount` double DEFAULT NULL,
  `Age` int DEFAULT NULL,
  `Smoker` int DEFAULT NULL,
  `BMI` int DEFAULT NULL,
  `DrugsAlc` int DEFAULT NULL,
  `Employed` int DEFAULT NULL,
  `Diabetic` int DEFAULT NULL,
  `Pregnant` int DEFAULT NULL,
  `PreCondition` int DEFAULT NULL,
  `Feedback` int DEFAULT NULL,
  `HomeState` text,
  PRIMARY KEY (`PatientID`),
  CONSTRAINT `patient_data_chk_1` CHECK ((`Smoker` in (0,1))),
  CONSTRAINT `patient_data_chk_2` CHECK ((`DrugsAlc` in (0,1))),
  CONSTRAINT `patient_data_chk_3` CHECK ((`Employed` in (0,1))),
  CONSTRAINT `patient_data_chk_4` CHECK ((`Diabetic` in (0,1))),
  CONSTRAINT `patient_data_chk_5` CHECK ((`Pregnant` in (0,1))),
  CONSTRAINT `patient_data_chk_6` CHECK ((`PreCondition` in (0,1))),
  CONSTRAINT `patient_data_chk_7` CHECK ((`Feedback` in (-(1),0,1)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
''')

# Always remember to close the cursor and connection when done
cursor.close()
conn.close()

In [ ]:
import mysql.connector

NULL = ""
# Connect to the MySQL server and the 'library' database
conn = mysql.connector.connect(user='root', password='root', host='localhost', database='hospital')
cursor = conn.cursor()

patient_data = [
    (220135,105947,101.383048333209,31,0,28,0,1,1,0,0,-1,'ME'),(510062,111365,43.3121368927957,28,1,30,1,0,1,0,0,1,'WV'),(330151,143384,0,33,1,20,1,0,0,0,0,0,'NY'),(150149,149265,428.536207517161,59,1,34,0,0,1,0,0,0,'NM'),(240014,158168,55.4445204743628,30,1,32,1,0,1,1,1,-1,'MN'),(180101,171874,0,31,0,36,0,0,0,0,1,0,'KY'),(110007,192429,0,47,1,28,1,0,0,0,0,1,'GA'),(140158,205573,3476.89696552718,30,1,38,1,0,1,0,1,1,'IL'),(450042,226054,4.90548309119573,25,0,26,1,1,1,1,1,1,'TX'),(30073,239824,3.10470802694607,61,0,26,0,1,0,0,0,0,'OH'),(450746,240304,16365.4498802826,65,0,21,0,1,1,0,0,0,'TX'),(280134,264443,511.9453748616,74,0,36,1,0,0,0,1,-1,'NM'),(520013,273557,495.031560459881,37,1,29,0,1,1,0,1,0,'WI'),(140206,277680,738.053011029385,46,1,34,0,0,0,0,1,1,'CO'),(100040,282001,150.516954564251,21,0,37,0,1,0,0,0,0,'FL'),(450604,300701,3648.01637773132,58,0,37,0,1,1,0,0,-1,'TX'),(440091,305385,466.760339022974,33,0,19,1,0,1,0,1,1,'TN'),(250104,315727,0,70,1,35,0,0,1,0,1,-1,'MO'),(320060,316769,2092.51286308322,20,1,25,0,1,0,1,0,1,'NM'),(440184,329878,2131.04065814843,53,1,18,0,0,0,0,0,1,'IA'),(100228,338591,1560.08572227569,23,1,19,0,0,0,0,0,0,'FL'),(100055,340307,11.7706767282083,24,0,25,0,0,0,0,0,0,'FL'),(50063,343117,529.682034136643,30,1,27,0,1,1,0,1,0,'CA'),(150001,348271,7259.52604773933,31,0,33,0,0,0,0,0,0,'IN'),(360010,360437,0,39,0,21,0,0,1,0,0,0,'OH'),(60028,381474,0,53,1,29,0,1,0,0,1,0,'NH'),(230132,400749,11.9091465092866,72,0,33,1,0,1,0,1,1,'MI'),(50488,400882,665.022455860342,29,1,39,0,1,1,1,1,-1,'MN'),(370016,400976,28.7889715759114,27,1,39,0,0,0,1,0,1,NULL),(240001,429269,399.079480922848,17,0,32,1,0,0,0,1,1,'PA'),(200009,445562,1060.74948712044,25,1,36,0,0,0,0,0,0,'AZ'),(50197,446224,11439.4696734318,42,0,28,0,0,1,0,1,0,'TX'),(420069,449142,0,45,0,19,1,0,1,0,0,0,'MO'),(450046,453750,973.395111064596,15,1,39,0,0,0,1,1,-1,'ND'),(20012,460986,657.865704840439,24,0,23,0,0,1,1,1,0,'AR'),(230208,461973,8848.32351330798,73,1,38,1,0,0,0,1,0,'AL'),(340133,486028,34.4408549900072,50,1,20,0,1,1,0,1,0,'MN'),(450187,487220,0,57,1,20,0,0,0,0,1,0,'TX'),(390112,500078,669.17745171113,40,1,36,1,0,0,0,1,-1,'PA'),(100167,523872,7928.29226506731,37,0,28,0,1,1,0,1,0,'FL'),(440228,525501,52.8388648218745,72,1,25,0,0,0,0,0,1,NULL),(30016,528474,1873.24013148755,20,1,39,0,0,0,0,1,0,'AZ'),(280125,539839,1930.78403021076,38,0,28,1,1,0,0,1,0,'IA'),(320005,545027,0,29,1,36,1,0,1,0,0,0,NULL),(360071,546165,16.5546517363299,42,1,25,0,1,0,0,1,1,'OH'),(160146,555779,0,28,0,26,0,1,0,1,1,-1,'IN'),(120011,570986,8.29685765343457,18,0,37,0,0,0,0,0,-1,'CA'),(670096,572066,0,16,1,37,1,1,1,1,1,0,'TX'),(360071,579077,3.98912353035599,42,1,39,0,0,0,0,0,-1,'WV'),(100084,586546,9483.88124485053,65,0,36,1,0,1,0,1,0,'IL'),(50608,593385,0,31,1,39,0,0,1,0,1,-1,'CA'),(330073,595320,0,24,1,21,1,0,0,0,1,1,'NY'),(140167,597200,26.950353657226,50,1,25,1,0,0,0,1,-1,'RI'),(310073,616733,23289.453519844,53,0,21,1,1,0,0,1,0,'NJ'),(100023,626098,8040.01571818363,59,1,18,1,0,0,0,0,1,'FL'),(390100,653210,6.21728183511756,36,1,28,1,0,0,0,1,1,'NY'),(140223,656217,2684.59854737459,26,0,27,1,0,0,0,0,-1,'IL'),(70021,665711,0,28,1,19,0,1,1,1,1,0,'CT'),(450211,672448,231.656437864297,31,1,18,0,1,1,0,0,0,'TX'),(100315,701396,0,55,1,19,0,1,1,0,1,-1,'FL'),(200001,705701,1429.29473058177,65,1,31,1,0,0,0,0,1,'ME'),(190079,706565,2824.65688038721,66,0,26,1,0,0,0,1,-1,'TX'),(390096,707455,898.135263369119,32,0,21,0,0,0,0,1,-1,'LA'),(450563,707864,0,35,0,19,1,0,0,1,0,1,'DE'),(390081,723724,800.640723062437,72,1,39,1,0,1,0,0,0,'OK'),(330180,724951,0,39,1,25,1,0,1,0,1,1,'NM'),(230054,726139,13.5011705674649,67,0,39,1,0,1,0,1,0,'MA'),(450044,726749,0,19,0,32,0,0,1,1,0,0,'NC'),(40026,733140,616.54668712512,68,1,20,0,1,1,0,0,1,'ME'),(110029,740403,130.121494121567,16,1,26,1,0,0,0,0,1,'DE'),(450130,742378,165.03140844727,30,1,27,1,0,0,0,0,1,'TX'),(30068,744969,1139.62459697779,30,0,19,0,1,0,1,1,1,'TN'),(670067,750090,0,74,0,38,1,0,0,0,0,-1,'IN'),(390091,783051,0,32,1,20,1,1,0,1,0,-1,'PA'),(340084,784526,1141.01932849276,28,1,29,1,0,1,0,1,1,'NC'),(180005,786045,1876.47070299184,37,1,18,1,1,0,0,1,-1,'KY'),(140231,793725,1136.16624400157,56,1,18,1,0,1,0,1,-1,'NC'),(330160,795427,1.02336663223091,35,1,31,1,0,1,0,0,-1,'NY'),(240020,817860,7.26690393775021,40,0,36,1,1,0,0,1,1,'MN'),(100269,822734,3312.1179570618,44,1,32,1,1,1,0,0,-1,'GA'),(490032,827295,188.728210166269,73,0,31,1,0,1,0,1,-1,'NH'),(450617,832204,5.7607660917047,24,0,28,1,1,1,1,1,0,'TX'),(390067,846484,13.001597880183,25,0,23,0,0,0,0,1,0,'OK'),(100211,858081,19451.6276276593,41,1,36,0,0,1,0,1,-1,'KY'),(90011,859889,3287.36190878833,21,0,30,0,1,1,0,1,0,'ND'),(100255,875803,8328.74966686,70,1,26,0,1,0,0,0,1,'ID'),(670076,877382,61.4072752928726,34,1,20,0,1,0,0,1,1,'TN'),(450713,890393,87.9546272598565,28,1,26,1,0,1,0,0,0,'TX'),(50308,896255,1.99515636128498,24,0,25,1,0,0,0,0,1,'CA'),(490123,914459,799.110587994716,61,1,36,0,0,0,0,0,1,'UT'),(300001,914986,0,30,1,31,0,0,1,1,0,0,'NH'),(50708,958117,0,73,0,26,1,0,1,0,0,-1,'CA'),(110142,960940,859.584628057995,56,0,27,1,0,1,0,0,0,'IN'),(50779,964136,0,31,1,23,1,1,1,0,1,-1,'CA'),(10130,968836,0,23,0,32,1,0,1,0,0,0,'AL'),(330104,969985,636.863127345299,20,0,30,1,0,0,0,0,1,'GA'),(190017,972286,2.98770448263685,44,0,29,0,1,0,0,0,0,'UT'),(230070,982838,807.084249866267,34,0,22,0,1,0,0,1,1,'MI'),(220058,983693,1571.43558785055,57,0,39,1,0,1,0,0,1,'MA'),(330232,985087,34.4764545613014,19,1,28,1,1,0,0,1,1,'ND')
]

# Insert data using the cursor
cursor.executemany('''
INSERT INTO patient_data VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
''', patient_data)

# Commit the changes
conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()

In [ ]:
import mysql.connector

# Connect to the MySQL server and the 'hospital' database
conn = mysql.connector.connect(user='root', password='root', host='localhost', database='hospital')
cursor = conn.cursor()

# Execute the SELECT query
# cursor.execute("SELECT table_name FROM information_schema.tables;") # SELECT * FROM hospital_data
cursor.execute("SELECT * FROM patient_data") # SELECT table_name FROM information_schema.tables;

# Fetch all the results
records = cursor.fetchall()

# Print the records
for record in records:
    print(record)

# Close the cursor and connection
cursor.close()
conn.close()

(220135, 105947, 101.383048333209, 31, 0, 28, 0, 1, 1, 0, 0, -1, 'ME')
(510062, 111365, 43.3121368927957, 28, 1, 30, 1, 0, 1, 0, 0, 1, 'WV')
(330151, 143384, 0.0, 33, 1, 20, 1, 0, 0, 0, 0, 0, 'NY')
(150149, 149265, 428.536207517161, 59, 1, 34, 0, 0, 1, 0, 0, 0, 'NM')
(240014, 158168, 55.4445204743628, 30, 1, 32, 1, 0, 1, 1, 1, -1, 'MN')
(180101, 171874, 0.0, 31, 0, 36, 0, 0, 0, 0, 1, 0, 'KY')
(110007, 192429, 0.0, 47, 1, 28, 1, 0, 0, 0, 0, 1, 'GA')
(140158, 205573, 3476.89696552718, 30, 1, 38, 1, 0, 1, 0, 1, 1, 'IL')
(450042, 226054, 4.90548309119573, 25, 0, 26, 1, 1, 1, 1, 1, 1, 'TX')
(30073, 239824, 3.10470802694607, 61, 0, 26, 0, 1, 0, 0, 0, 0, 'OH')
(450746, 240304, 16365.4498802826, 65, 0, 21, 0, 1, 1, 0, 0, 0, 'TX')
(280134, 264443, 511.9453748616, 74, 0, 36, 1, 0, 0, 0, 1, -1, 'NM')
(520013, 273557, 495.031560459881, 37, 1, 29, 0, 1, 1, 0, 1, 0, 'WI')
(140206, 277680, 738.053011029385, 46, 1, 34, 0, 0, 0, 0, 1, 1, 'CO')
(100040, 282001, 150.516954564251, 21, 0, 37, 0, 1, 0, 0, 0, 0, 'FL')
(450604, 300701, 3648.01637773132, 58, 0, 37, 0, 1, 1, 0, 0, -1, 'TX')
(440091, 305385, 466.760339022974, 33, 0, 19, 1, 0, 1, 0, 1, 1, 'TN')
(250104, 315727, 0.0, 70, 1, 35, 0, 0, 1, 0, 1, -1, 'MO')
(320060, 316769, 2092.51286308322, 20, 1, 25, 0, 1, 0, 1, 0, 1, 'NM')
(440184, 329878, 2131.04065814843, 53, 1, 18, 0, 0, 0, 0, 0, 1, 'IA')
(100228, 338591, 1560.08572227569, 23, 1, 19, 0, 0, 0, 0, 0, 0, 'FL')
(100055, 340307, 11.7706767282083, 24, 0, 25, 0, 0, 0, 0, 0, 0, 'FL')
(50063, 343117, 529.682034136643, 30, 1, 27, 0, 1, 1, 0, 1, 0, 'CA')
(150001, 348271, 7259.52604773933, 31, 0, 33, 0, 0, 0, 0, 0, 0, 'IN')
(360010, 360437, 0.0, 39, 0, 21, 0, 0, 1, 0, 0, 0, 'OH')
(60028, 381474, 0.0, 53, 1, 29, 0, 1, 0, 0, 1, 0, 'NH')
(230132, 400749, 11.9091465092866, 72, 0, 33, 1, 0, 1, 0, 1, 1, 'MI')
(50488, 400882, 665.022455860342, 29, 1, 39, 0, 1, 1, 1, 1, -1, 'MN')
(370016, 400976, 28.7889715759114, 27, 1, 39, 0, 0, 0, 1, 0, 1, '')
(240001, 429269, 399.079480922848, 17, 0, 32, 1, 0, 0, 0, 1, 1, 'PA')
(200009, 445562, 1060.74948712044, 25, 1, 36, 0, 0, 0, 0, 0, 0, 'AZ')
(50197, 446224, 11439.4696734318, 42, 0, 28, 0, 0, 1, 0, 1, 0, 'TX')
(420069, 449142, 0.0, 45, 0, 19, 1, 0, 1, 0, 0, 0, 'MO')
(450046, 453750, 973.395111064596, 15, 1, 39, 0, 0, 0, 1, 1, -1, 'ND')
(20012, 460986, 657.865704840439, 24, 0, 23, 0, 0, 1, 1, 1, 0, 'AR')
(230208, 461973, 8848.32351330798, 73, 1, 38, 1, 0, 0, 0, 1, 0, 'AL')
(340133, 486028, 34.4408549900072, 50, 1, 20, 0, 1, 1, 0, 1, 0, 'MN')
(450187, 487220, 0.0, 57, 1, 20, 0, 0, 0, 0, 1, 0, 'TX')
(390112, 500078, 669.17745171113, 40, 1, 36, 1, 0, 0, 0, 1, -1, 'PA')
(100167, 523872, 7928.29226506731, 37, 0, 28, 0, 1, 1, 0, 1, 0, 'FL')
(440228, 525501, 52.8388648218745, 72, 1, 25, 0, 0, 0, 0, 0, 1, '')
(30016, 528474, 1873.24013148755, 20, 1, 39, 0, 0, 0, 0, 1, 0, 'AZ')
(280125, 539839, 1930.78403021076, 38, 0, 28, 1, 1, 0, 0, 1, 0, 'IA')
(320005, 545027, 0.0, 29, 1, 36, 1, 0, 1, 0, 0, 0, '')
(360071, 546165, 16.5546517363299, 42, 1, 25, 0, 1, 0, 0, 1, 1, 'OH')
(160146, 555779, 0.0, 28, 0, 26, 0, 1, 0, 1, 1, -1, 'IN')
(120011, 570986, 8.29685765343457, 18, 0, 37, 0, 0, 0, 0, 0, -1, 'CA')
(670096, 572066, 0.0, 16, 1, 37, 1, 1, 1, 1, 1, 0, 'TX')
(360071, 579077, 3.98912353035599, 42, 1, 39, 0, 0, 0, 0, 0, -1, 'WV')
(100084, 586546, 9483.88124485053, 65, 0, 36, 1, 0, 1, 0, 1, 0, 'IL')
(50608, 593385, 0.0, 31, 1, 39, 0, 0, 1, 0, 1, -1, 'CA')
(330073, 595320, 0.0, 24, 1, 21, 1, 0, 0, 0, 1, 1, 'NY')
(140167, 597200, 26.950353657226, 50, 1, 25, 1, 0, 0, 0, 1, -1, 'RI')
(310073, 616733, 23289.453519844, 53, 0, 21, 1, 1, 0, 0, 1, 0, 'NJ')
(100023, 626098, 8040.01571818363, 59, 1, 18, 1, 0, 0, 0, 0, 1, 'FL')
(390100, 653210, 6.21728183511756, 36, 1, 28, 1, 0, 0, 0, 1, 1, 'NY')
(140223, 656217, 2684.59854737459, 26, 0, 27, 1, 0, 0, 0, 0, -1, 'IL')
(70021, 665711, 0.0, 28, 1, 19, 0, 1, 1, 1, 1, 0, 'CT')
(450211, 672448, 231.656437864297, 31, 1, 18, 0, 1, 1, 0, 0, 0, 'TX')
(100315, 701396, 0.0, 55, 1, 19, 0, 1, 1, 0, 1, -1, 'FL')
(200001, 705701, 1429.29473058177, 65, 1, 31, 1, 0, 0, 0, 0, 1, 'ME')
(190079, 706565, 2824.65688038721, 66, 0, 26, 1, 0, 0, 0, 1, -1, 'TX')
(390096, 707455, 898.135263369119, 32, 0, 21, 0, 0, 0, 0, 1, -1, 'LA')
(450563, 707864, 0.0, 35, 0, 19, 1, 0, 0, 1, 0, 1, 'DE')
(390081, 723724, 800.640723062437, 72, 1, 39, 1, 0, 1, 0, 0, 0, 'OK')
(330180, 724951, 0.0, 39, 1, 25, 1, 0, 1, 0, 1, 1, 'NM')
(230054, 726139, 13.5011705674649, 67, 0, 39, 1, 0, 1, 0, 1, 0, 'MA')
(450044, 726749, 0.0, 19, 0, 32, 0, 0, 1, 1, 0, 0, 'NC')
(40026, 733140, 616.54668712512, 68, 1, 20, 0, 1, 1, 0, 0, 1, 'ME')
(110029, 740403, 130.121494121567, 16, 1, 26, 1, 0, 0, 0, 0, 1, 'DE')
(450130, 742378, 165.03140844727, 30, 1, 27, 1, 0, 0, 0, 0, 1, 'TX')
(30068, 744969, 1139.62459697779, 30, 0, 19, 0, 1, 0, 1, 1, 1, 'TN')
(670067, 750090, 0.0, 74, 0, 38, 1, 0, 0, 0, 0, -1, 'IN')
(390091, 783051, 0.0, 32, 1, 20, 1, 1, 0, 1, 0, -1, 'PA')
(340084, 784526, 1141.01932849276, 28, 1, 29, 1, 0, 1, 0, 1, 1, 'NC')
(180005, 786045, 1876.47070299184, 37, 1, 18, 1, 1, 0, 0, 1, -1, 'KY')
(140231, 793725, 1136.16624400157, 56, 1, 18, 1, 0, 1, 0, 1, -1, 'NC')
(330160, 795427, 1.02336663223091, 35, 1, 31, 1, 0, 1, 0, 0, -1, 'NY')
(240020, 817860, 7.26690393775021, 40, 0, 36, 1, 1, 0, 0, 1, 1, 'MN')
(100269, 822734, 3312.1179570618, 44, 1, 32, 1, 1, 1, 0, 0, -1, 'GA')
(490032, 827295, 188.728210166269, 73, 0, 31, 1, 0, 1, 0, 1, -1, 'NH')
(450617, 832204, 5.7607660917047, 24, 0, 28, 1, 1, 1, 1, 1, 0, 'TX')
(390067, 846484, 13.001597880183, 25, 0, 23, 0, 0, 0, 0, 1, 0, 'OK')
(100211, 858081, 19451.6276276593, 41, 1, 36, 0, 0, 1, 0, 1, -1, 'KY')
(90011, 859889, 3287.36190878833, 21, 0, 30, 0, 1, 1, 0, 1, 0, 'ND')
(100255, 875803, 8328.74966686, 70, 1, 26, 0, 1, 0, 0, 0, 1, 'ID')
(670076, 877382, 61.4072752928726, 34, 1, 20, 0, 1, 0, 0, 1, 1, 'TN')
(450713, 890393, 87.9546272598565, 28, 1, 26, 1, 0, 1, 0, 0, 0, 'TX')
(50308, 896255, 1.99515636128498, 24, 0, 25, 1, 0, 0, 0, 0, 1, 'CA')
(490123, 914459, 799.110587994716, 61, 1, 36, 0, 0, 0, 0, 0, 1, 'UT')
(300001, 914986, 0.0, 30, 1, 31, 0, 0, 1, 1, 0, 0, 'NH')
(50708, 958117, 0.0, 73, 0, 26, 1, 0, 1, 0, 0, -1, 'CA')
(110142, 960940, 859.584628057995, 56, 0, 27, 1, 0, 1, 0, 0, 0, 'IN')
(50779, 964136, 0.0, 31, 1, 23, 1, 1, 1, 0, 1, -1, 'CA')
(10130, 968836, 0.0, 23, 0, 32, 1, 0, 1, 0, 0, 0, 'AL')
(330104, 969985, 636.863127345299, 20, 0, 30, 1, 0, 0, 0, 0, 1, 'GA')
(190017, 972286, 2.98770448263685, 44, 0, 29, 0, 1, 0, 0, 0, 0, 'UT')
(230070, 982838, 807.084249866267, 34, 0, 22, 0, 1, 0, 0, 1, 1, 'MI')
(220058, 983693, 1571.43558785055, 57, 0, 39, 1, 0, 1, 0, 0, 1, 'MA')
(330232, 985087, 34.4764545613014, 19, 1, 28, 1, 1, 0, 0, 1, 1, 'ND')

In [ ]:
import pandas as pd

# Connect to MySQL
conn = mysql.connector.connect(user='root', password='root', host='localhost', database='hospital')

# Fetch data into a pandas DataFrame
query = "SELECT * FROM patient_data"
df = pd.read_sql(query, conn)

<ipython-input-49-f092b0adcb87>:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [ ]:
df.head()

,HospitalID,PatientID,InvoiceAmount,Age,Smoker,BMI,DrugsAlc,Employed,Diabetic,Pregnant,PreCondition,Feedback,HomeState
0,220135,105947,101.383048,31,0,28,0,1,1,0,0,-1,ME
1,510062,111365,43.312137,28,1,30,1,0,1,0,0,1,WV
2,330151,143384,0.000000,33,1,20,1,0,0,0,0,0,NY
3,150149,149265,428.536208,59,1,34,0,0,1,0,0,0,NM
4,240014,158168,55.444520,30,1,32,1,0,1,1,1,-1,MN

In [ ]:
!mysqldump -u root -proot hospital > hospital.sql

mysqldump: [Warning] Using a password on the command line interface can be insecure.

In [ ]:
!ls -althr

total 64K
drwxr-xr-x 4 root root 4.0K Feb  5 20:33 .config
drwxr-xr-x 1 root root 4.0K Feb  5 20:33 sample_data
drwxr-xr-x 1 root root 4.0K Feb  7 15:57 ..
-rw-r--r-- 1 root root  16K Feb  7 16:00 lesson.db
-rw-r--r-- 1 root root 2.1K Feb  7 16:01 library.sql
drwxr-xr-x 1 root root 4.0K Feb  7 16:03 .
-rw-r--r-- 1 root root  26K Feb  7 16:03 hospital.sql



---